<div class="modal" tabindex="-1" role="dialog" hidden="@_isCancelClicked">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">@Title</h5>
            <i id="cancel" class="bi bi-x-circle" @onclick=@OnClickModalCancel></i>
        </div>
        <div class="content">
        @if (_isError) {
            <Feedback Message="@_errorMessage" OnClickCancel=@OnClickHideBanner/>
        }
        <EditForm EditContext="@_editContext" OnValidSubmit="@OnClickModalConfirm">
            <CascadingValue Value="@_errors">
                <CustomDataAnnotationsValidator @ref="CustomValidator"/>
                    <div class="form-group">
                        <i class="bi bi-person-circle"></i>
                        <label for="Nome">Nome</label>
                        <InputText class="form-control" @bind-Value="Model.FirstName"/>
                        <CustomValidationMessage FieldName="@nameof(Model.FirstName)"/>
                    </div>
                    <div class="form-group">
                        <i class="bi bi-person-circle"></i>
                        <label for="Cognome">Cognome</label>
                        <InputText class="form-control" @bind-Value="Model.LastName"/>
                        <CustomValidationMessage FieldName="@nameof(Model.LastName)"/>
                    </div>
                    <div class="form-group">
                        <i class="bi bi-envelope-at-fill"></i>
                        <label for="Email">Email</label>
                        <InputText type="email" class="form-control" @bind-Value="Model.Email"/>
                        <CustomValidationMessage FieldName="@nameof(Model.Email)"/>
                    </div>
                    <div class="form-group">
                        <i class="bi bi-calendar3"></i>
                        <label for="Data di nascita">Data di nascita</label>
                        <InputDate class="form-control" @bind-Value="Model.BirthDay"/>
                        <CustomValidationMessage FieldName="@nameof(Model.BirthDay)"/>
                    </div>
                    <div class="form-group">
                        <i class="bi bi-calendar3"></i>
                        <label for="Data d'inizio">Data d'inizio</label>
                        <InputDate class="form-control" @bind-Value="@Model.StartDate"/>
                        <CustomValidationMessage FieldName="@nameof(Model.StartDate)"/>
                    </div>
                    <div class="form-group">
                        <i class="bi bi-briefcase"></i>
                        <label for="Codice fiscale">Codice fiscale</label>
                        <InputText class="form-control" @bind-Value="Model.NumericCode"/>
                        <CustomValidationMessage FieldName="@nameof(Model.NumericCode)"/>
                    </div>
                    <div class="form-group">
                        <i class="bi bi-star-fill"></i>
                        <label for="Ruolo">Ruolo</label>
                        <div class="form-control">
                            <InputSelect class="dropdown-item" @bind-Value="Model.Role">
                                <option disabled selected>-- Scegliere ruolo --</option>
                                @foreach (var role in Enum.GetValues(typeof(Roles))) {
                                    if ((Roles)role != Roles.ACCOUNT_MANAGER) {
                                        <option value="@role">@role</option>
                                    }
                                }
                            </InputSelect>
                        </div>
                        <CustomValidationMessage FieldName="@nameof(Model.Role)"/>
                    </div>
                    <div class="form-group">
                        <i class="bi bi-euro"></i>
                        <label for="Tariffa oraria">Tariffa oraria</label>
                        <InputNumber Step="0.01" class="form-control" @bind-Value="Model.CurrentHourlyRate"/>
                        <CustomValidationMessage FieldName="@nameof(Model.CurrentHourlyRate)"/>
                        <div class="form-group">
                            <label> <i class="bi bi-calendar3"></i> Da</label>
                            <InputDate class="form-control" @bind-Value="Model.StartDateHourlyRate"/>
                            <CustomValidationMessage FieldName="@nameof(Model.StartDateHourlyRate)"/>
                        </div>
                        <div class="form-group">
                            <label> <i class="bi bi-calendar3"></i> A</label>
                            <InputDate class="form-control" @bind-Value="Model.FinishDateHourlyRate"/>
                            <CustomValidationMessage FieldName="@nameof(Model.FinishDateHourlyRate)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="password-wrapper">
                            <i class="bi bi-key-fill"></i>
                            <label for="Password">Password</label>
                            <InputText type="@_input" class="form-control" @bind-Value="Model.Password" autocomplete="new-password"/>
                            <SwitchInputType Switch="@SwitchPassword"/>
                            <div style="margin: 20px;">
                                <span class="strong">
                                    <p>La password deve contenere almeno:</p>
                                    <p>[8 - 16] - Lunghezza caratteri</p>
                                    <p>[A-Z] - Una lettera maiuscola.</p>
                                    <p>[a-z] - Una lettera minuscola.</p>
                                    <p>[0-9] - Un numero</p>
                                </span>
                            </div>
                            <CustomValidationMessage FieldName="@nameof(Model.Password)"/>
                        </div>
                    </div>
            </CascadingValue>
            <div class="modal-footer">
                <div id="btn-cancel">
                    <span id="btn-link" @onclick=@OnClickModalCancel>Annulla</span>
                </div>
                <div id="btn-confirm">
                    <button type="submit" class="btn btn-primary">Conferma</button>
                </div>
            </div>
            <NavigationLock ConfirmExternalNavigation="@NavigationLockService.ConfirmedExternalExit" 
                OnBeforeInternalNavigation="@NavigationUtil.ConfirmInternalExit"/>
        </EditForm>
        </div>
        </div>
    </div>
</div>