<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Commessa</th>
            <th>Attività</th>
            <th>Data d'inizio</th>
            <th>Data di fine</th>
            <th>Ore segnate</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ac in _activities) {
            <tr>
                <td><i class="bi bi-briefcase"></i></td> 
                <td>
                    @foreach (var wo in _workOrders.DistinctBy(wo => wo.Id)) {
                        if (wo.Id == ac.WorkOrderId) {
                            @wo.Name
                        }
                    }

                </td>
                <td>@ac.Name</td>
                <td>@ac.StartDate.ToString("dd/MM/yyyy")</td>
                <td>@ac.FinishDate.ToString("dd/MM/yyyy")</td>
                @if (_workTimeRecords is null) {
                    <td><em>Nessun orario.</em></td>
                } else {
                    <td>
                        @foreach (var wtr in _workTimeRecords.Distinct()) {
                            if (wtr.ActivityId == ac.Id) {
                                @wtr.Hours
                            }
                        }
                    </td>
                }
                <td>
                    <button type="button" class="btn btn-primary" 
                        @onclick="@(() => OnClickAddWorkedHours(ac.Id))">
                        <i class="bi bi-clock-history"></i>
                        <span>Aggiungi orario</span>
                    </button> 
                </td>
            </tr>
        }
    </tbody>
</table>

@if (!_workOrders.Any() && _hasMoreActivities) {
    <p class="text-center">@Titles.NOT_AVAILABLE_WORKORDERS</p>
}


@if (_isAddClicked) {
    <ModalAddHours ActivityId="@_activityId" EmployeeId="@EmployeeId"/>
}

@if (!_hasMoreActivities) {
    <p class="text-center">@Titles.NO_MORE_RESOURCES</p>
}

<Paginator
    CollectionSize=@_collectionSize
    Paginate="@((args) => HandlePaginate(args.Item1, args.Item2))"/>