<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
                @foreach (var action in _filters) {
                    @if (action.Key == _orderKey) {
                        <th scope="col" @onclick="@(() => HandleOrdering(action.Key))"
                            style="color: blue;">
                            <span>
                                <i class="bi bi-arrow-down"></i>
                                @action.Key
                            </span>
                        </th>
                    } else {
                        <th scope="col" @onclick="@(() => HandleOrdering(action.Key))">
                            <span>
                                @action.Key
                            </span>
                        </th>
                    }
                }
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ac in _filteredList) {
            <tr>
                <td><i class="bi bi-briefcase"></i></td> 
                <td>
                    @foreach (var wo in _workOrders.DistinctBy(wo => wo.Id)) {
                        if (wo.Id == ac.WorkOrderId) {
                            @wo.Name
                        }
                    }

                </td>
                <td>@ac.Name</td>
                <td>@ac.StartDate.ToString("dd/MM/yyyy")</td>
                <td>@ac.FinishDate.ToString("dd/MM/yyyy")</td>
                @if (_workTimeRecords is null) {
                    <td><em>Nessun orario.</em></td>
                } else {
                    <td>
                        @foreach (var wtr in _workTimeRecords.Distinct()) {
                            if (wtr.ActivityId == ac.Id) {
                                @wtr.Hours
                            }
                        }
                    </td>
                }
                <td>
                    <span class="info">
                        <i class="bi bi-clock-history" @onclick="@(() => OnClickAddWorkedHours(ac.Id))"></i>
                        Aggiungi orario
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (!_workOrders.Any()) {
    <p class="text-center">@Titles.NOT_AVAILABLE_WORKORDERS</p>
}


@if (_isAddClicked) {
    <ModalAddHours ActivityId="@_activityId" EmployeeId="@EmployeeId"/>
}

@if (!_hasMoreActivities) {
    <p class="text-center">@Titles.NO_MORE_RESOURCES</p>
}

@if (_workOrders.Any()) {
    <Paginator
        CollectionSize=@_collectionSize
        Paginate="@((args) => HandlePaginate(args.Item1, args.Item2))"/>
}