@typeparam TItem where TItem : class, new()

<Modal Size="@ModalSize.LARGE" Title="Client details"
       FirstActionText="Edit" SecondActionText="Delete"
       FirstAction="@(async () => await OnEdit.InvokeAsync())"
       SecondAction="@(async () => await OnDelete.InvokeAsync())">
    <Body>
        @foreach (var property in Properties)
        {
            <p>@(property): <strong>@GetObjectValue(property)</strong></p>
        }
        @Content
    </Body>
</Modal>

@code {
    [Parameter] public TItem Item { get; set; }
    [Parameter] public IEnumerable<string> Properties { get; set; }
    [Parameter] public RenderFragment Content { get; set; }
    [Parameter] public EventCallback OnEdit { get; set; }
    [Parameter] public EventCallback OnDelete { get; set; }

    private object GetObjectValue(string propertyName)
        => Item
            .GetType()
            .GetProperty(propertyName)
            .GetValue(Item);
}
