@page "/clients"
@inject DialogService ds
@inject FetchService<FirmClientDto> fs
@inject FetchService<WorkOrderDto> wfs

<h3>Clients</h3>
<PageTitle>Clients</PageTitle>

<RadzenButton ButtonStyle="ButtonStyle.Primary" Variant="Variant.Outlined" Text="Add" Click="@OnAdd"></RadzenButton>

<RadzenDataGrid Data="@_clients"
TItem="@FirmClientDto"
AllowSorting="true"
AllowPaging="true"
AllowFiltering="true"
SelectionMode="DataGridSelectionMode.Single"
RowSelect="OnSelect">
    <Columns>
        <RadzenDataGridColumn TItem="@FirmClientDto" Property="Name" Title="Name" />
        <RadzenDataGridColumn TItem="@FirmClientDto" Property="VatNumber" Title="Vat Number" />
    </Columns>
</RadzenDataGrid>

@code {
    private List<FirmClientDto> _clients = new();
    private PaginationHelper _pg = new() { Limit = 100, Offset = 0 };

    private bool _isSelected = false;
    private FirmClientDto _selectedClient = null;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        _clients = await fs.GetAll(
            EndpointsNames.FIRM_CLIENT,
            EndpointCrudActions.GET_WITH_PAGINATION_ACTION,
            _pg.Limit,
            _pg.Offset
        );

        await LoadRelatedWorkOrders();
    }

    private async Task LoadRelatedWorkOrders()
    {
        foreach (var cl in _clients)
        {
            cl.WorkOrders = await wfs.GetAll(
                EndpointsNames.FIRM_CLIENT,
                ClientEndpointActions.FindAssociatedWorkOrdersByClientId(cl.Id)
            );
        }
    }

    private async Task OnSelect(FirmClientDto client)
    {
        _selectedClient = client;

        await ds.OpenAsync<ClientDialog>("Client Info",
            new Dictionary<string, object>() 
            { 
                { nameof(ClientDialog.SelectedClient), _selectedClient },
            }
        );
    }

    private async Task OnAdd()
    {
        await ds.OpenAsync<ClientAddForm>("Add Client", null, new DialogOptions() { Width = "40vw;" });
    }
}