@page "/operation-manager/edit/workorder/{Id:int}"

@using PlannerCRM.Shared.Models

<PageTitle>CRM - Modifica commessa</PageTitle>

@if (_IsError) {
    <Feedback Severity="@BannerType.DANGER" Message="@_Message"></Feedback>
} else {
    <Feedback Severity="@BannerType.SUCCESS" Message="@_Message"></Feedback> 
}

<div class="container-fluid">
    <h1>Modifica commessa</h1>
    <EditForm EditContext="@_EditContext" OnValidSubmit="OnClickConfirm">
        <DataAnnotationsValidator/>
        <div class="form-group">
            <label for="Nome commessa">Nome</label>
            <input type="text" class="form-control" @bind="_Model.Name" />
            <ValidationMessage For="@(() => _Model.Name)"/>
        </div>
        <div class="form-group">
            <label for="Data d'inizio">Data d'inzio</label>
            <input type="date" class="form-control" @bind="@_Model.StartDate" />
            <ValidationMessage For="@(() => _Model.StartDate)"/>
        </div>
        <div class="form-group">
            <label for="Data di fine">Data di fine</label>
            <input type="date" class="form-control" @bind="@_Model.FinishDate" />
            <ValidationMessage For="@(() => _Model.FinishDate)"/>
        </div>
        <div class="wrapper-btn">
            <div class="btn-cancel">
                <button type="button" class="btn btn-link" @onclick="OnClickCancel">Annulla</button>
            </div>
            <div class="btn-confirm">
                <button type="submit" class="btn btn-primary">Conferma</button>
            </div>
        </div>
    </EditForm>
</div>

<NavigationLock ConfirmExternalNavigation="NavLockService.ConfirmedExternalExit" 
    OnBeforeInternalNavigation="NavLockService.ConfirmInternalExit"/>
