@*
@page "/operation-manager/edit/workorder/{Id:int}"

@using PlannerCRM.Shared.Models

<PageTitle>CRM - Modifica commessa</PageTitle>

@if (_IsError) {
    <Feedback Severity="@BannerType.DANGER" Message="@_Message"></Feedback>
}

<div class="container-fluid">
    <h1>Modifica commessa</h1>
    <EditForm EditContext="@_EditContext" OnValidSubmit="OnClickConfirm">
        <DataAnnotationsValidator/>
        <div class="form-group">
            <label for="Nome commessa">Nome</label>
            <InputText class="form-control" @bind-Value="_Model.Name" />
            <ValidationMessage For="@(() => _Model.Name)"/>
        </div>
        <div class="form-group">
            <label for="Data d'inizio">Data d'inzio</label>
            <InputDate class="form-control" @bind-Value="@_Model.StartDate" />
            <ValidationMessage For="@(() => _Model.StartDate)"/>
        </div>
        <div class="form-group">
            <label for="Data di fine">Data di fine</label>
            <InputDate class="form-control" @bind-Value="@_Model.FinishDate" />
            <ValidationMessage For="@(() => _Model.FinishDate)"/>
        </div>
        <div class="wrapper-btn">
            <div class="btn-cancel">
                <button type="button" class="btn btn-link" @onclick="OnClickCancel">Annulla</button>
            </div>
            <div class="btn-confirm">
                <button type="submit" class="btn btn-primary">Conferma</button>
            </div>
        </div>
    </EditForm>
</div>

<NavigationLock ConfirmExternalNavigation="NavLockService.ConfirmedExternalExit" 
    OnBeforeInternalNavigation="NavLockService.ConfirmInternalExit"/>
*@


@using PlannerCRM.Shared.Models

<PageTitle>CRM - Aggiungi commessa</PageTitle>

<div class="modal" tabindex="-1" role="dialog"
    style="display: block; background-color: rgba(0, 0, 0, 0.4); backdrop-filter: blur(15px);
        width: 100%; height: 100%;"
    hidden="@_IsCancelClicked">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Modifica commessa</h5>
            <i style="cursor: pointer;" class="bi bi-x-circle" @onclick="@(() => OnClickModalCancel())"></i>
        </div>
        <div style="width: 100%; height:100%;">
            <EditForm EditContext="@_EditContext" OnValidSubmit="@OnClickModalConfirm">
                <div class="modal-body" style="width: 100%;">
                <DataAnnotationsValidator/>
                <div class="form-group">
                    <span class="oi oi-text"></span>
                    <label for="Nome commessa">Nome</label>
                    <InputText class="form-control" @bind-Value="_Model.Name"/>
                    <ValidationMessage For="@(() => _Model.Name)"/>
                </div>
                <div style="justify-content: space-between;">
                    <div class="form-group" style="float:left; width:auto;">
                        <span class="oi oi-calendar"></span>
                        <label>Data d'inizio</label>
                        <InputDate class="form-control" @bind-Value="@_Model.StartDate"/> 
                        <ValidationMessage For="@(() => _Model.StartDate)"/>
                    </div>
                    <div class="form-group" style="float:right; width:auto;">
                        <span class="oi oi-calendar"></span>
                        <label>Data fine</label>
                        <InputDate class="form-control" @bind-Value="@_Model.FinishDate"/>
                        <ValidationMessage For="@(() => _Model.FinishDate)"/>
                    </div>
                </div>
                <div class="modal-footer" style="justify-content: space-between; padding: 10px 0; width: 100%;">
                    <div style="float: left;">
                        <button type="button" id="btn-link" class="btn btn-link" style="text-decoration: none;"
                            @onclick="@(() => OnClickModalCancel())">Annulla</button>
                    </div>
                    <div style="float: right;">
                        <button type="submit" class="btn btn-primary">Conferma</button>
                    </div>
                </div>
                <NavigationLock ConfirmExternalNavigation="@NavLockService.ConfirmedExternalExit" 
                    OnBeforeInternalNavigation="@NavLockService.ConfirmInternalExit"/>
                </div>
            </EditForm>
        </div>
        </div>
    </div>
</div>

 @if (_IsError) {
    <Feedback Severity="@BannerType.DANGER" Message="@_Message"></Feedback> 
}