<div class="modal" tabindex="-1" role="dialog"
    style="display: block; background-color: rgba(0, 0, 0, 0.4); backdrop-filter: blur(15px);"
    hidden="@_IsCancelClicked">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Elimina commessa</h5>
            <i style="cursor: pointer;" class="bi bi-x-circle" @onclick="@(() => OnClickModalCancel())"></i>
        </div>
        <div class="modal-body">
            <p>Vuoi davvero eliminare questa commessa?</p>
            <p> <strong>Nome:</strong> @_Model.Name</p>
            <p> <strong>Data d'inizio:</strong> @_Model.StartDate.ToShortDateString()</p>
            <p> <strong>Data di fine:</strong> @_Model.FinishDate.ToShortDateString()</p>
        </div>
        <div class="modal-footer"
            style="justify-content: space-between;">
            <div style="float: left;">
                <span id="btn-link" style="color: blue; cursor: pointer;"
                    @onclick="@(() => OnClickModalCancel())">Annulla</span>
            </div>
            <div style="float: right;">
                <button type="button" class="btn btn-danger"
                    @onclick="@(() => OnClickModalConfirm())">Conferma</button>
            </div>
        </div>
        </div>
    </div>
</div>
