@inject HttpClient http

@if (DataContainer is not null)
{
    <div class="form-group">
        <label>@nameof(DataContainer.DataManager.NewItem.Name):</label>
        <InputText class="form-control" @bind-Value="@DataContainer.DataManager.NewItem.Name" />
    </div>
    <div class="form-group">
        <label>@nameof(DataContainer.DataManager.NewItem.StartDate):</label>
        <InputDate class="form-control" @bind-Value="@DataContainer.DataManager.NewItem.StartDate" />
    </div>
    <div class="form-group">
        <label>@nameof(DataContainer.DataManager.NewItem.EndDate):</label>
        <InputDate class="form-control" @bind-Value="@DataContainer.DataManager.NewItem.EndDate" />
    </div>
    <br />
    <h5>WorkOrder Information</h5>
    <div class="form-group">
        @if (DataContainer.DataManager.NewItem.WorkOrder is null ||
            string.IsNullOrEmpty(DataContainer.DataManager.NewItem.WorkOrder.Name))
        {
            <div style="margin: 0;">
                <div style="float: left;">
                    <InputText type="search" class="form-control" @bind-value="@DataContainer.QueryManager.Query" />
                </div>
                <div style="float: left;">
                    <button class="btn btn-outline-primary" @onclick="@SearchWorkOrder">
                        <i class="bi bi-search"></i>
                        Search
                    </button>
                </div>
            </div>
            <div class="list-group">
                @foreach (var workOrder in _workOrders)
                {
                    <button type="button" class="list-group-item list-group-item-action @(DataContainer.DataManager.NewItem is not null ? "active" : string.Empty)"
                    @onclick="@(() => SelectWorkOrder(workOrder))">
                        @workOrder.Name
                    </button>
                }
            </div>
        }
        else
        {
            <div class="card" style="margin: 0;">
                <div style="float: left;">
                    <strong>WorkOrder Info</strong>
                    <p style="text-indent: 40px;"><strong>Name: </strong>@DataContainer.DataManager.NewItem.WorkOrder.Name</p>
                    <p style="text-indent: 40px;"><strong>Start Date: </strong>@DataContainer.DataManager.NewItem.WorkOrder.StartDate</p>
                    <p style="text-indent: 40px;"><strong>End Date: </strong>@DataContainer.DataManager.NewItem.WorkOrder.StartDate</p>
                    <br />
                    <div style="float: left;">
                        <strong>Client Info</strong>
                        <p style="text-indent: 40px;"><strong>Name: </strong>@DataContainer.DataManager.NewItem.WorkOrder.FirmClient.Name</p>
                        <p style="text-indent: 40px;"><strong>Vat Number: </strong>@DataContainer.DataManager.NewItem.WorkOrder.FirmClient.VatNumber</p>
                    </div>
                </div>
                <div style="float: left;">
                    <button type="button" class="btn btn-outlien-danger" @onclick="@(() => SelectWorkOrder(new()))">
                        <i class="bi bi-trash3"></i>
                        Remove
                    </button>
                </div>
            </div>
        }
    </div>
}
@code {
    [Inject] public IFetchService<WorkOrderDto> FetchService { get; set; }

    [CascadingParameter] public CascadingDataContainer<ActivityDto> DataContainer { get; set; }

    private List<WorkOrderDto> _workOrders = [];

    private async Task SearchWorkOrder()
    {
        if (DataContainer.QueryManager.HasQuery)
        {
            _workOrders = await FetchService.GetAll(ControllersNames.WORK_ORDER, WorkOrderApiManager.SearchWorkOrderByTitle(DataContainer.QueryManager.Query));
        }
    }

    private void SelectWorkOrder(WorkOrderDto workOrder)
    {
        DataContainer.DataManager.NewItem.WorkOrder = workOrder;
        DataContainer.DataManager.NewItem.WorkOrderId = workOrder.Id;
    }

}
