<Modal Size="@ModalSize.LARGE" Title="@Title">
    <Body>
        <div class="modal-body">
            <p>@Message</p>
            <p> <strong>Nome:</strong> @_employee.FullName</p>
            <p> <strong>Email:</strong> @_employee.Email</p>
            <p> <strong>Ruolo:</strong> @_employee.Role</p>
        </div>
    </Body>
    <Footer>
        <div id="restore">
            <button type="button" class="btn btn-success" @onclick=@OnClickConfirm>Ripristina</button> 
        </div>
    </Footer>
</Modal>