@*
@page "/account-manager/delete/user/{Id:int}"

@using PlannerCRM.Shared.Models

<PageTitle>CRM - Elimina utente</PageTitle>

@if (_IsError) {
    @foreach (var err in _ErrorMessages) {
        <Feedback Severity="@BannerType.DANGER" Message="@err"></Feedback>
    }
}

<div>
    <span>Vuoi eliminare:
        <br>  
        <strong>Nome:</strong> @_Model.FullName 
        <br>
        <strong>Ruolo:</strong> @_Model.Role ?
        <br>
    </span>
    <button type="button" class="btn btn-danger" @onclick="OnClickDeleteUser">Conferma</button>
    <button type="button" class="btn btn-link" @onclick="OnClickCancel">Annulla</button>
</div> 

*@

<!-- Modal dialog box -->

<div class="modal" tabindex="-1" role="dialog"
    style="display: block; background-color: rgba(0, 0, 0, 0.4); backdrop-filter: blur(15px);"
    hidden="@_IsCancelClicked">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Elimina utente</h5>
             <i style="cursor: pointer;" class="bi bi-x-circle" @onclick="@(() => OnClickModalCancel())"></i>
        </div>
        <div class="modal-body">
            <p>Vuoi davvero eliminare questo utente?</p>
            <p> <strong>Nome:</strong> @_Model.FullName</p>
            <p> <strong>Email:</strong> @_Model.Email</p>
            <p> <strong>Ruolo:</strong> @_Model.Role</p>
        </div>
        <div class="modal-footer"
            style="justify-content: space-between;">
            <div style="float: left;">
                <button type="button" id="btn-link" class="btn btn-link"
                    @onclick="@(() => OnClickModalCancel())">Annulla</button>
            </div>
            <div style="float: right;">
                <button type="button" class="btn btn-danger"
                    @onclick="@(() => OnClickModalConfirm())">Conferma</button>
            </div>
        </div>
        </div>
    </div>
</div>

<!---->