<Modal Size="@ModalSize.LARGE" Title="@Title">
    <Body>
        @if (_isError) {
            <Feedback Severity="@CssSeverity.DANGER" Message="@_message" OnClickCancel=@OnClickHideBanner/>
        }
        <p>@ConfirmationMessage</p>
        <p> <strong>Nome:</strong> @_model.FullName</p>
        <p> <strong>Email:</strong> @_model.Email</p>
        <p> <strong>Ruolo:</strong> @_model.Role</p>
        @if (_model.EmployeeActivities.Any()) {
            <span>Ha attività in corso presso: </span>
            <div class="card">
                @foreach (var ac in _model.EmployeeActivities) {
                    @foreach (var wo in _workOrders) {
                        <div class="container">
                            @if (ac.Activity.WorkOrderId == wo.Id) {
                                <p><strong>Commessa: @wo.Name</strong></p>
                                <p><strong>Attivita: @ac.Activity.Name</strong></p>
                            }
                        </div>
                    }
                    <div class="hr"></div>
                }
            </div>
        } else {
            <p><em>@Titles.NOT_AVAILABLE_ACTIVITIES</em></p>
        }
    </Body>
    <Footer>
        <div id="archive">
                <button type="button" class="btn btn-warning" @onclick=@OnClickArchiveAsync>Archivia</button>
        </div>
        <div id="delete">
            <button type="button" class="btn btn-danger" @onclick=@OnClickDeleteAsync>Elimina</button>
        </div>
    </Footer>
</Modal>