<div class="modal" tabindex="-1" role="dialog" hidden="@_isCancelClicked">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">@Title</h5>
             <i id="x-circle" class="bi bi-x-circle" @onclick=@OnClickModalCancel></i>
        </div>
        <div class="modal-body">
            @if (_isError) {
                <Feedback Message="@_message" OnClickCancel=@OnClickHideBanner/>
            }
            <p>@ConfirmationMessage</p>
            <p> <strong>Nome:</strong> @_model.FullName</p>
            <p> <strong>Email:</strong> @_model.Email</p>
            <p> <strong>Ruolo:</strong> @_model.Role</p>
            @if (_model.EmployeeActivities.Any()) {
                <span>Ha attività in corso presso: </span>
                <div class="card">
                    @foreach (var ac in _model.EmployeeActivities) {
                        @foreach (var wo in _workOrders) {
                            <div class="container">
                                <p><strong>Commessa: @wo.Name</strong></p>
                                @if (ac.Activity.WorkOrderId == wo.Id) {
                                    <p><strong>Attivita: @ac.Activity.Name</strong></p>
                                }
                            </div>
                        }
                        <div class="hr"></div>
                    }
                </div>
            } else {
                <p><em>Nessun attività assegnata.</em></p>
            }
        </div>
        <div class="modal-footer">
            <div id="cancel">
                <span id="btn-link" @onclick=@OnClickModalCancel>Annulla</span>
            </div>
            <div id="">
                <button type="button" class="btn btn-warning" @onclick=@OnClickArchive>Archivia</button>
            </div>
            <div id="delete">
                <button type="button" class="btn btn-danger" @onclick=@OnClickDelete>Elimina</button>
            </div>
        </div>
        </div>
    </div>
</div>