<div class="modal" tabindex="-1" role="dialog" hidden="@_isCancelClicked">
    <div class="modal modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
                <i id="x-cancel" class="bi bi-x-circle" @onclick=@CloseModal></i>
            </div>
            <div class="content">
                <span class="text-center">@ConfirmationMessage</span>
                <div class="modal-footer">
                    <div id="cancel">
                        <span class="btn btn-link text-left" @onclick="@CloseModal">Annulla</span>
                    </div>
                    <div id="confirm">
                        <span class="btn btn-primary text-right" @onclick="@ConfirmAction">Conferma</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>