@if (!_Activities.Any()) {
    <p><strong>Nessun'attività assegnata.</strong></p>
} else {
    <div class="master-detail">
        <div class="container-fluid">
            <h3>Attività</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Data d'inizio</th>
                        <th>Data di fine</th>
                        <th>Dipendenti assegnati</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ac in _Activities) {
                        <tr>
                            <td><span class="oi oi-puzzle-piece"></span></td>
                            <td>@ac.Name</td>
                            <td>@ac.StartDate</td>
                            <td>@ac.FinishDate</td>
                            <td>
                                @foreach (var ea in ac.EmployeeActivity) {
                                    <tr>
                                        <td>
                                            @ea.Employee.Email
                                        </td>
                                    </tr>
                                }
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary" 
                                    @onclick="@(() => OnClickEdit(ac.Id))">
                                     <span class="oi oi-pencil"></span>
                                </button>                
                            </td> 
                            <td> 
                                <button type="button" class="btn btn-danger" 
                                    @onclick="@(() => OnClickDelete(ac.Id))">
                                    <span class="oi oi-trash"></span>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
@if (_IsEditActivityClicked) { 
    <CascadingValue Value="@_ActivityId" Name="ActivityId">
        <CascadingValue Value="@WorkOrderId" Name="WorkOrderId">
            <OperationManagerEditActivity></OperationManagerEditActivity> 
        </CascadingValue>
    </CascadingValue>
}

@if (_IsDeleteActivityClicked) {
    <CascadingValue Value="@_ActivityId" Name="ActivityId">
        <CascadingValue Value="@WorkOrderId" Name="WorkOrderId">
            <OperationManagerDeleteActivity></OperationManagerDeleteActivity> 
        </CascadingValue>
    </CascadingValue>
}