<div class="modal" tabindex="-1" role="dialog" hidden=@_isCancelClicked>
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">@Title</h5>
            <i id="x-cancel" class="bi bi-x-circle" @onclick=@OnClickModalCancel></i>
        </div>
            <div class="text-center">
                <strong>Dati cliente</strong>
            </div>
            <div class="container">
                <div class="text-left">
                    <label>Cliente: </label>
                    <p> @_client.Name</p> 
                </div>
                <div class="text-right">
                    <label>Partitva IVA</label>
                    <p>@_client.VatNumber</p>
                </div>
            </div>
            <div class="text-center">
                <strong>Dati commessa</strong>
            </div>
            <div class="container-fluid">
                <div class="container">
                    <div class="text-left">
                        <label>Nome</label>
                        <p>@_invoice.Name </p>
                    </div>
                    <div class="text-left">
                        <label>Attività</label>
                        <p>@_invoice.TotalActivities </p>
                    </div>
                    <div class="text-right">
                        <label>Dipendenti</label>
                        <p>@_invoice.TotalEmployees </p>
                    </div>
                </div>
                <div class="container">
                    <div class="text-right">
                        <label>Data inizio</label>
                        <p>@_invoice.StartDate.ToString("dd/MM/yyyy") </p>
                    </div>
                    <div class="text-right">
                        <label>Data fine</label>
                        <p>@_invoice.FinishDate.ToString("dd/MM/yyyy") </p>
                    </div>
                    <div class="text-right">
                        <label>Durata in giorni</label>
                        <p>@_invoice.TotalTime.Duration().Days </p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <strong>Attività</strong>
            </div>
            <div class="text-center">
                <table class="table table-striped">
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Data inizio</th>
                        <th scope="col">Data fine</th>
                        <th scope="col">Costo totale attività</th>
                    </tr>
                    <tbody>
                        @foreach (var ac in _invoice.Activities) {
                            <tr>
                                <td>@ac.Name</td>
                                <td>@ac.StartDate</td>
                                <td>@ac.FinishDate</td>
                                <td>@_invoice.CostPerMonth</td> <!-- per ogni attività, calcolare il prezzo mensile -->
                                <td>@ac.StartDate</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="text-right">
                <strong>Totale: 5000$</strong> 
            </div>
        <div class="modal-footer">
            <div id="cancel">
                <span id="btn-link" class="btn btn-link" @onclick=@OnClickModalCancel>Anulla</span>
            </div>
            <div id="confirm">
                <button type="submit" class="btn btn-primary">Conferma</button>
            </div>
        </div>
        </div>
    </div>
</div>