<Modal Size="@ModalSize.LARGE" Title="@Title">
    <Body>
        <div class="container-fluid">
            <table class="table table-sm">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Partita IVA</th>
                    <th scope="col">Commessa</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                <tbody>
                    @foreach (var cl in _clients) {
                        <tr>
                            <td>@cl.Name</td>
                            <td>@cl.VatNumber</td>
                            <td>
                                @if (!_workOrders.Any(wo => wo.Id == cl.WorkOrderId)) {
                                    @Titles.NOT_AVAILABLE_WORKORDERS    
                                }
                                @foreach (var wo in _workOrders) {
                                    @if (wo.Id == cl.WorkOrderId) {
                                        @wo.Name
                                    }
                                }
                            </td>
                            <td>
                                <button class="btn btn-primary" 
                                    @onclick=@(() => OnClickEditClient(cl.Id))>
                                    <i class="bi bi-pencil-fill"></i>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-danger" 
                                    @onclick=@(() => OnClickDeleteClient(cl.Id))>
                                    <i class="bi bi-person-dash" ></i>    
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (_clients.Any()) {
                <Paginator
                    CollectionSize=@_collectionSize
                    Paginate="@((args) => HandlePaginate(args.Item1, args.Item2))"/>
            } else {
                <p class="text-center">@Titles.NOT_AVAILABLE_CLIENTS</p>
            }
        </div>
    </Body>
</Modal>

@if (_isCreateClientClicked) {
    <ModalAddClient
        Title=@Titles.ADD_CLIENT
    />
}

@if (_isEditClientClicked) {
    <ModalEditClient
        Id=@_clientId
        Title=@Titles.EDIT_CLIENT
    />
} 

@if (_isDeleteClientClicked) {
    <ModalDeleteClient
        Id=@_clientId
        Title=@Titles.DELETE_CLIENT
        ConfirmationMessage=@Titles.CONFIRM_DELETE_CLIENT
    />
}
