@using System.Globalization

<div class="calendar-container">
    <div class="calendar-header">
        <NavigationControls 
                CurrentDate="@CurrentDate" 
                CurrentView="@CurrentView" 
                OnGoToTodaySet="@GoToToday" 
                OnPreviousPeriodSet="@PreviousPeriod" 
                OnNextPeriodSet="@NextPeriod"
                OnViewSet="@SetView"/>
    </div>
    @if (SelectedMetadata.ComponentType is not null)
    {
        <DynamicComponent Type="@SelectedMetadata.ComponentType" Parameters="@SelectedMetadata.Parameters" />
    }
</div>
