@using System.Globalization

<div class="calendar-container">
    <div class="calendar-header">
        <NavigationControls 
                CurrentDate="@CurrentDate" 
                CurrentView="@CurrentView" 
                OnGoToTodaySet="@GoToToday" 
                OnPreviousPeriodSet="@PreviousPeriod" 
                OnNextPeriodSet="@NextPeriod"
                OnViewSet="@SetView"/>
    </div>
    <select @onchange="OnDropDownChange">
        <option value="">Select a value</option>
        @foreach (var vt in ViewTypes.Keys)
        {
            <option value="@vt">@vt</option>
        }
    </select>
    @if (_selectedMetadata is not null)
    {
        <DynamicComponent Type="@_selectedMetadata.ComponentType" Parameters="@_selectedMetadata.Parameters" />
    }
</div>
