@typeparam TItem where TItem : class, new()

<Modal Size="@ModalSize.LARGE" Title="@Title" CanCloseModal="@_canCloseModal" FirstAction="(async () => await OnValidSubmit())" FirstActionText="Submit">
    <Body>
        <EditForm EditContext="@_context" FormName="Form Component" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            @FormContent(Model)
        </EditForm>
    </Body>
</Modal>

@code
{
    [Parameter] public string Title { get; set; }
    [Parameter] public TItem Model { get; set; }
    [Parameter] public RenderFragment<TItem> FormContent { get; set; }
    [Parameter] public EventCallback<TItem> OnItemChanged { get; set; }

    private EditContext _context;
    private bool _canCloseModal = false;

    protected override void OnParametersSet()
    {
        _context = new EditContext(Model);
    }

    private async Task OnValidSubmit()
    {
        if (_context.Validate())
        {
            _canCloseModal = !_canCloseModal;
            await OnItemChanged.InvokeAsync(Model);
        }
    }
}
