<div class="modal" tabindex="-1" role="dialog" hidden="@_isCancelClicked">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">@Title</h5>
             <i id="x-circle" class="bi bi-x-circle" @onclick=@OnClickModalCancel></i>
        </div>
        <div class="modal-body">
            @if (_isError) {
                <Feedback Message="@_message" OnClickCancel=@OnClickHideBanner/>
            }
            <p>@ConfirmationMessage</p>
            <p> <strong>Nome:</strong> @_model.Name</p>
            <p> <strong>Partita IVA:</strong> @_model.VatNumber</p>
            <p> <strong>Commessa :</strong> @_workOrder.Name</p>
        </div>
        <div class="modal-footer">
            <div id="cancel">
                <span id="btn-link" @onclick=@OnClickModalCancel>Annulla</span>
            </div>
            <div id="delete">
                <button type="button" class="btn btn-danger" @onclick=@OnClickDelete>Elimina</button>
            </div>
        </div>
        </div>
    </div>
</div>