<div class="modal" tabindex="-1" role="dialog"
    style="display: block; background-color: rgba(0, 0, 0, 0.4); backdrop-filter: blur(15px);
        width: 100%; height: 100%;"
    hidden="@_IsCancelClicked">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Aggiungi attivita</h5>
            <i style="cursor: pointer;" class="bi bi-x-circle" @onclick="@(() => OnClickModalCancel())"></i>
        </div>
        <div style="width: 100%; height:100%;padding: 10px;">
        <EditForm Model="@_Model" OnSubmit="OnClickModalCancel">
            <DataAnnotationsValidator />
            <div class="form-group">
               <i class="bi bi-person-circle"></i>
                <label for="Nome">Nome</label>
                <InputText class="form-control" @bind-Value="_Model.FirstName" Disabled="@_IsDisabled"/>
            </div>
                <ValidationMessage For="@(() => _Model.FirstName)"/>
            <div class="form-group">
               <i class="bi bi-person-circle"></i>
                <label for="Cognome">Cognome</label>
                <InputText class="form-control" @bind-Value="_Model.LastName" Disabled="@_IsDisabled"/>
                <ValidationMessage For="@(() => _Model.LastName)"/>
            </div>
            <div class="form-group">
                <i class="bi bi-envelope-at"></i>
                <label for="Email">Email</label>
                <InputText Type="email" class="form-control" @bind-Value="_Model.Email" Disabled="@_IsDisabled"/>
                <ValidationMessage For="@(() => _Model.Email)" />
            </div>
            <div>
                <div class="form-group" style="display: inline-block; padding-right: 15px;">
                    <i class="bi bi-calendar3"></i>
                    <label for="Data di nascita">Data di nascita</label>
                    <InputDate class="form-control" @bind-Value="_Model.BirthDay" Disabled="@_IsDisabled"/>
                    <ValidationMessage For="@(() => _Model.BirthDay)" />
                </div>
                <div class="form-group" style="display: inline-block;">
                    <i class="bi bi-calendar3"></i>
                    <label for="Data d'inizio">Data d'inizio</label>
                    <InputDate class="form-control" @bind-Value="@_Model.StartDate" Disabled="@_IsDisabled"/>
                    <ValidationMessage For="@(() => _Model.StartDate)" />
                </div>
            </div>
            <div class="form-group">
                <i class="bi bi-briefcase"></i>
                <label for="Codice fiscale">Codice fiscale</label>
                <InputText class="form-control" @bind-Value="_Model.NumericCode" Disabled="@_IsDisabled"/>
                <ValidationMessage For="@(() => _Model.NumericCode)" />
            </div>
            <div class="form-group">
                <span class="oi oi-star"></span>
                <label for="Ruolo">Ruolo</label>
                <input type="text" class="form-control" @bind="_Model.Role" disabled="@_IsDisabled"/>
                <ValidationMessage For="@(() => _Model.Role)" />
            </div>
            <div class="form-group">
                <i class="bi bi-currency-euro"></i>
                <label for="Tariffa oraria">Tariffa oraria</label>
                <InputNumber Step="0.01" class="form-control" @bind-Value="_Model.CurrentHourlyRate" Disabled="@_IsDisabled"/>
                <ValidationMessage For="@(() => _Model.CurrentHourlyRate)" />
                <div>
                    <div style="padding-right: 15px; display: inline-block;">
                        <label>Da <i class="bi bi-calendar3"></i> </label>
                            <InputDate class="form-control" @bind-Value="_Model.StartDateHourlyRate" Disabled="@_IsDisabled"/>
                    </div>
                    <ValidationMessage For="(() => _Model.StartDateHourlyRate)"/>
                    <label>A <i class="bi bi-calendar3"></i> </label>
                        <InputDate class="form-control" @bind-Value="_Model.FinishDateHourlyRate" Disabled="@_IsDisabled"/>
                    <ValidationMessage For="(() => _Model.FinishDateHourlyRate)"/>
                </div>
            </div>
            <div class="form-group">
                <div style="margin: 0 auto; margin: 10px 5px;">
                    <i class="bi bi-key-fill"></i>
                    <label for="Password">Password</label>
                    <InputText Type="@_TypeField" class="form-control" @bind-Value="_Model.Password" Disabled="@_IsDisabled"/>
                    <InputCheckbox style="float:left; margin-top: 5px;" @bind-Value="@_IsCheckboxClicked" @onclick="SwitchShowPassword"/>
                    <span style="margin: 10px 5px;">Vedi password</span>
                </div>
                <ValidationMessage For="@(() => _Model.Password)" />
            </div>
            <div class="modal-footer" style="justify-content: center; padding: 10px 0; width: 100%;">
                <button type="button" class="btn btn-primary" @onclick="@(() => OnClickModalCancel())">
                    <i class="bi bi-arrow-left"></i>
                    Torna indietro
                </button>
            </div>
        </EditForm>
        </div>
        </div>
    </div>
</div>