<div class="modal" tabindex="-1" role="dialog"
    hidden="@_isCancelClicked">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">@Title</h5>
            <i id="x-cancel" class="bi bi-x-circle" @onclick="@OnClickModalCancel"></i>
        </div>
        <div id="before-modal-body">
            @if (_isError) {
                <Feedback Message="@_errorMessage" OnClickCancel=@OnClickHideBanner/>
            }
            
            <EditForm EditContext="@_editContext" OnSubmit="@OnClickModalConfirm">
                <CascadingValue Value="@_errors">
                    <CustomDataAnnotationsValidator @ref="CustomValidator"/>
                        <div class="modal-body">
                            <div class="form-group">
                                <i class="bi bi-person"></i>
                                <label>Cliente</label>
                                <input type="search" class="form-control" @bind="Model.ClientName"/>
                                <span class="btn btn-link"
                                    @onclick=@OnClickSearchClient> 
                                    <i class="bi bi-magnifying-glass"></i>
                                    Cerca
                                </span> 
                                @foreach (var cl in _clients) {
                                    <ul style="list-style: none;" hidden=@_hideclientsList> 
                                        <li @onclick="@(() => OnClickSetAsClient(cl))">@cl.Name</li>
                                    </ul> 
                                }
                                <CustomValidationMessage FieldName="@nameof(Model.ClientName)"/>
                                <CustomValidationMessage FieldName="@nameof(Model.ClientId)"/>
                            </div>
                            <div class="form-group">
                                <i class="bi bi-fonts"></i>
                                <label for="Nome commessa">Nome</label>
                                <InputText class="form-control" @bind-Value="Model.Name"/>
                                <CustomValidationMessage FieldName="@nameof(Model.Name)"/>
                            </div>
                            <div class="form-group">
                                <i class="bi bi-calendar3"></i>
                                <label>Data d'inizio</label>
                                <InputDate class="form-control" @bind-Value="@Model.StartDate"/> 
                                <CustomValidationMessage FieldName="@nameof(Model.StartDate)"/>
                            </div>
                            <div class="form-group">
                                <i class="bi bi-calendar3"></i>
                                <label>Data fine</label>
                                <InputDate class="form-control" @bind-Value="@Model.FinishDate"/>
                                <CustomValidationMessage FieldName="@nameof(Model.FinishDate)"/>
                            </div>
                        </div>
                </CascadingValue>
            </EditForm>
            <div class="modal-footer">
                <div id="cancel">
                    <span id="btn-link" @onclick="@OnClickModalCancel">Annulla</span>
                </div>
                <div id="confirm">
                    <button type="submit" class="btn btn-primary" @onclick=@OnClickModalConfirm>Conferma</button>
                </div>
            </div>
            <NavigationLock ConfirmExternalNavigation="@NavigationLockService.ConfirmedExternalExit" 
                OnBeforeInternalNavigation="@NavigationUtil.ConfirmInternalExit"/>
            </div>
        </div>
    </div>
</div>