<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <CascadingAuthenticationState>
                <PageTitle>Pagina non trovata</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Pagina non trovata. Errore 404.</p> <br>
                    <p>Torna alla <a href="/login">homepage.</a></p>
                </LayoutView> 
            </CascadingAuthenticationState> 
        </NotFound>
    </Router>
</CascadingAuthenticationState>