<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        <LayoutView Layout="@typeof(MainLayout)">
            <RouteView RouteData="@routeData" />
        </LayoutView>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>No page found.</p>
        </LayoutView>
    </NotFound>
</Router>
