<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            <AuthorizeRouteView RouteData="@routeData">
                <Authorizing>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <LoadingAuthorization/>
                    </LayoutView>
                </Authorizing>
                <NotAuthorized>
                    <LayoutView Layout="@typeof(NotAuthorizedLayout)">
                        <NotAuthorizedPage/>
                    </LayoutView>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <CascadingAuthenticationState>
                <div class="text-center">
                    <PageTitle>Pagina non trovata</PageTitle>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <p role="alert">Pagina non trovata. <strong>Errore 404.</strong></p> <br>
                        <p>Torna alla <a href="/login">homepage.</a></p>
                    </LayoutView> 
                </div>
            </CascadingAuthenticationState> 
        </NotFound>
    </Router>
</CascadingAuthenticationState>