<RadzenStack>
    <RadzenCard>
        <EditForm EditContext="@_context" OnSubmit="@OnValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-control">
                <label>Name</label>
                <InputText class="form-control" @bind-Value="@Model.Name" />
                <ValidationMessage For="@(() => Model.Name)" />
            </div>
            <div class="form-control">
                <label>Vat Number</label>
                <InputText class="form-control" @bind-Value="@Model.VatNumber" />
                <ValidationMessage For="@(() => Model.VatNumber)" />
            </div>
        </EditForm>
    </RadzenCard>
    <RadzenStack AlignItems="AlignItems.End" Orientation="Orientation.Horizontal">
        <button class="btn btn-outline-info" type="button" @onclick="(() => dialog.Close())">Close</button>
        <button class="btn btn-outline-primary" type="submit" @onclick="(() => OnValidSubmit())">Confirm</button>
    </RadzenStack>
</RadzenStack>

@code
{
    [Parameter] public FirmClientDto Model { get; set; }

    private EditContext _context;

    protected override void OnParametersSet()
    {
        _context = new(Model);
    }

    private async Task OnValidSubmit()
    {
        try
        {
            if (_context.Validate())
            {
                var result = await fetch.ExecuteAsync(ClientEndpointActions.EDIT_BASE, new SearchFilterDto(), ApiType.Put);

                if (result.HasCompleted && result.StatusCode == HttpStatusCode.OK)
                {
                    notification.Notify(NotificationSeverity.Success, result.Message, null, 4000);
                    
                    dialog.Close();
                }
                else
                {
                    notification.Notify(NotificationSeverity.Error, result.Message, null, 4000);
                }
            }
        }
        catch(Exception ex)
        {
            notification.Notify(NotificationSeverity.Warning, "Something went wrong, please retry", null, 4000);
        }
    }
}
