@page "/"
@page "/login"

@using PlannerCRM.Shared.Models

<PageTitle>CRM - Login</PageTitle>

<h3>Entra nel tuo account gestionale.</h3>

@if (_IsError) {
    <Feedback Severity="@BannerType.DANGER" Message="@_Message"></Feedback>
}

<h4>Login</h4>
<div class="container-fluid">
    <EditForm Model="@_Model" OnValidSubmit="LoginOnValidInput">
        <DataAnnotationsValidator/>
        <div class="form-group">
            <label for="Email">Email:</label>
            <InputText Type="email" class="form-control" @bind-Value="_Model.Email"/>
            <ValidationMessage For="@(() => _Model.Email)"/>
        </div>
        <div class="form-group">
            <label for="Password">Password:</label>
            <div style="margin: 0 auto; margin: 10px 5px;">
                <InputText type="@_TypeField" class="form-control" @bind-Value="_Model.Password"/>
                <InputCheckbox style="float:left; margin-top: 5px;" @bind-Value="@_IsCheckboxClicked" @onclick="SwitchShowPassword"/>
                <span style="margin: 10px 5px;">Vedi password</span>
            </div>
            <ValidationMessage For="@(() => _Model.Password)"/>
        </div>
        <div class="wrapper">
            
            <button type="submit" id="submit" class="btn btn-primary">
                <span>Accedi</span>
                <span class="oi oi-account-login"></span>  
            </button>
        </div>
    </EditForm>
</div>