@page "/activities"

<h3>Activities</h3>
<PageTitle>Activities</PageTitle>

<RadzenDataGrid Data="@_activities" TItem="@ActivityDto" AllowSorting="true" AllowPaging="true" AllowFiltering="true">
    <Columns>
        <RadzenDataGridColumn TItem="@ActivityDto" Property="Name" Title="Name" />
        <RadzenDataGridColumn TItem="@ActivityDto" Property="StartDate" Title="Start Date" />
        <RadzenDataGridColumn TItem="@ActivityDto" Property="EndDate" Title="End Date" />
    </Columns>
</RadzenDataGrid>

@code {
    [Inject] public FetchService<ActivityDto> ActivityFetchService { get; set; }
    [Inject] public FetchService<WorkOrderDto> WorkOrderFetchService { get; set; }

    private List<ActivityDto> _activities = new();
    private PaginationHelper paginationHelper = new() { Limit = 100, Offset = 0 };

    protected override async Task OnInitializedAsync()
    {
        _activities = await ActivityFetchService.GetAll(
            ControllersNames.ACTIVITY,
            CrudApiManager.GET_WITH_PAGINATION, 
            paginationHelper.Limit, 
            paginationHelper.Offset
        );
    }
}
