@page "/clients"

<h3>Clients</h3>
<PageTitle>Clients</PageTitle>

@if (fetch.IsBusy)
{
    <Loader />
}
else
{
    <RadzenButton ButtonStyle="ButtonStyle.Primary" Variant="Variant.Outlined" Text="Add" Click="@OnAdd"></RadzenButton>

    <RadzenDataGrid Data="@_clients"
    TItem="@FirmClientDto"
    AllowSorting="true"
    AllowPaging="true"
    AllowFiltering="true"
    SelectionMode="DataGridSelectionMode.Single"
    RowSelect="OnSelect">
        <Columns>
            <RadzenDataGridColumn TItem="@FirmClientDto" Property="@nameof(FirmClientDto.name)" Title="Name" />
            <RadzenDataGridColumn TItem="@FirmClientDto" Property="@nameof(FirmClientDto.vatNumber)" Title="Vat Number" />
        </Columns>
    </RadzenDataGrid>
}

@code {
    private List<FirmClientDto> _clients = new();

    private bool _isSelected = false;
    private FirmClientDto _selectedClient = null;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        try
        {
            fetch.IsBusy = true;

            var result = await fetch.ExecuteAsync(ApiUrl.CLIENT_CONTROLLER, ApiUrl.CLIENT_LIST, new FirmClientFilterDto(), ApiType.Post);
            if (result.data is not null)
            {
                _clients = JsonSerializer.Deserialize<List<FirmClientDto>>(result.data.ToString());
            }
            fetch.IsBusy = false;
        }
        catch
        {
            notification.Notify(NotificationSeverity.Warning, "Something went wrong, please retry", null, 4000);
        }
    }

    private async Task OnSelect(FirmClientDto client)
    {
        _selectedClient = client;

        await dialog.OpenAsync<ClientDialog>("Client Info",
            new Dictionary<string, object>()
            {
                { nameof(ClientDialog.SelectedClient), _selectedClient },
            },
            new DialogOptions() { Width = "90vw;", Height = "90vh" }
        );
    }

    private async Task OnAdd()
    {
        await dialog.OpenAsync<ClientAddForm>("Add Client",
            new Dictionary<string, object>()
            {
                { nameof(ClientAddForm.OnReloadList), LoadData() }
            },
            new DialogOptions() { Width = "90vw;", Height = "90vh" });
    }
}