@page "/clients"

<h3>Clients</h3>
<PageTitle>Clients</PageTitle>

<RadzenButton ButtonStyle="ButtonStyle.Primary" Variant="Variant.Outlined" Text="Add" Click="@OnAdd"></RadzenButton>

<RadzenDataGrid Data="@_clients"
                TItem="@FirmClientDto"
                AllowSorting="true"
                AllowPaging="true"
                AllowFiltering="true"
                SelectionMode="DataGridSelectionMode.Single"
                RowSelect="OnSelect">
    <Columns>
        <RadzenDataGridColumn TItem="@FirmClientDto" Property="Name" Title="Name" />
        <RadzenDataGridColumn TItem="@FirmClientDto" Property="VatNumber" Title="Vat Number" />
    </Columns>
</RadzenDataGrid>

@code {
    private List<FirmClientDto> _clients = new();

    private bool _isSelected = false;
    private FirmClientDto _selectedClient = null;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
        await LoadRelatedWorkOrders();
    }

    private async Task LoadData()
    {
        var result = await fetch.ExecuteAsync(ClientEndpointActions.GetWithPagination(100, 0), new SearchFilter(), ApiType.Post);
        _clients = JsonSerializer.Deserialize<List<FirmClientDto>>(result.Data.ToString());
    }

    private async Task LoadRelatedWorkOrders()
    {
        foreach (var cl in _clients)
        {
            var result = await fetch.ExecuteAsync(WorkOrderEndpointActions.GetWithPagination(100, 0), new SearchFilter(), ApiType.Post);
            cl.WorkOrders = JsonSerializer.Deserialize<List<WorkOrderDto>>(result.Data.ToString());
        }
    }

    private async Task OnSelect(FirmClientDto client)
    {
        _selectedClient = client;

        await dialog.OpenAsync<ClientDialog>("Client Info",
            new Dictionary<string, object>()
            {
                { nameof(ClientDialog.SelectedClient), _selectedClient },
            }
        );
    }

    private async Task OnAdd()
    {
        await dialog.OpenAsync<ClientAddForm>("Add Client", null, new DialogOptions() { Width = "40vw;" });
    }
}