@page "/clients"

<h3>Clients</h3>
<PageTitle>Clients</PageTitle>

@if (fetch.IsBusy)
{
    <Loader />
}
else
{
    <RadzenButton ButtonStyle="ButtonStyle.Primary" Variant="Variant.Outlined" Text="Add" Click="@OnAdd"></RadzenButton>

    <RadzenDataGrid Data="@_clients"
    TItem="@FirmClientDto"
    AllowSorting="true"
    AllowPaging="true"
    AllowFiltering="true"
    SelectionMode="DataGridSelectionMode.Single"
    RowSelect="OnSelect">
        <Columns>
            <RadzenDataGridColumn TItem="@FirmClientDto" Property="@nameof(FirmClientDto.name)" Title="Name" />
            <RadzenDataGridColumn TItem="@FirmClientDto" Property="@nameof(FirmClientDto.vatNumber)" Title="Vat Number" />
            <RadzenDataGridColumn TItem="@FirmClientDto" Width="64px">
                <Template Context="data">
                    <RadzenButton Variant="Variant.Text" IconColor="@Colors.Info" Icon="open_in_new" Click="@(() => OnSelect(data))"></RadzenButton>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="@FirmClientDto" Width="64px">
                <Template Context="data">
                    <RadzenButton Variant="Variant.Text" IconColor="@Colors.Danger" Icon="delete" Click="@(() => OnDelete(data))"></RadzenButton>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}

@code {
    private List<FirmClientDto> _clients = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        try
        {
            fetch.IsBusy = true;

            var result = await fetch.ExecuteAsync(ApiUrl.CLIENT_CONTROLLER, ApiUrl.CLIENT_LIST, new FirmClientFilterDto(), ApiType.Post);
            if (result.data is not null && result.hasCompleted && result.messageType == MessageType.Success)
            {
                _clients = JsonSerializer.Deserialize<List<FirmClientDto>>(result.data.ToString());
            }
            fetch.IsBusy = false;
        }
        catch
        {
            notification.Notify(NotificationSeverity.Warning, "Something went wrong, please retry", null, 4000);
        }
    }

    private async Task OnSelect(FirmClientDto client)
    {
        await dialog.OpenAsync<ClientDialog>("Client Info",
            new Dictionary<string, object>()
            {
                { nameof(ClientDialog.SelectedClient), client },
                { nameof(ClientDialog.OnReloadList), EventCallback.Factory.Create(this, LoadData) }
            },
            new DialogOptions() { Width = "80vw;", Height = "70vh", Draggable = true, Resizable = true }
        );
    }

    private async Task OnAdd()
    {
        await dialog.OpenAsync<ClientForm>("Add Client",
            new Dictionary<string, object>()
            {
                { nameof(ClientForm.OnReloadList), EventCallback.Factory.Create(this, LoadData) },
                { nameof(ClientForm.IsInsert), true }
            },
            new DialogOptions() { Width = "80vw;", Height = "70vh", Draggable = true, Resizable = true });
    }

    private async Task OnDelete(FirmClientDto client)
    {
        try
        {
            if ((await dialog.Confirm("Confirm this item removal", "Delete client", null)).Value)
            {
                var result = await fetch.ExecuteAsync(ApiUrl.CLIENT_CONTROLLER, ApiUrl.CLIENT_DELETE,
                                                      new FirmClientFilterDto() { firmClientId = client.id },
                                                      ApiType.Post);
                if (result.hasCompleted && result.messageType == MessageType.Success)
                {
                    notification.Notify(NotificationSeverity.Success, result.message, null, 4000);
                    await LoadData();
                }
                else
                {
                    notification.Notify(NotificationSeverity.Error, result.message, null, 4000);
                }
            }
        }
        catch
        {
            notification.Notify(NotificationSeverity.Warning, "Something went wrong, please retry", null, 4000);
        }
    }
}