@page "/contacts"
@inject HttpClient http

<DataGridView @ref="@_grid"
TItem="@FirmClientDto"
Data="@_clients"
Properties="@_selectedColumnsForClient"
RowAdd="@ToggleAddClient"
RowSelect="@ToggleSelectClient"
RowsSelected="@ToggleSelectedClients"
RowsSelectedForDelete="@ToggleSelectedClientsForDelete"
RowEdit="@ToggleEditClient"
RowDelete="@ToggleDeleteClient"
ShouldFetchNewData="@ReloadUpdatedData" />

@if (_isAddClientClicked)
{
    <FormView Title="Add new client " TItem="@FirmClientDto" Model="@_clientDto" OnItemChanged="@OnClientDataAdded">
        <FormContent>
            <div class="form-group">
                <label>@nameof(_clientDto.Name):</label>
                <InputText class="form-control" @bind-Value="@_clientDto.Name" />
            </div>
            <div class="form-group">
                <label>@nameof(_clientDto.VatNumber):</label>
                <InputText class="form-control" @bind-Value="@_clientDto.VatNumber" />
            </div>
        </FormContent>
    </FormView>
}

@if (_isEditClientClicked)
{
    <FormView Title="Add new client " TItem="@FirmClientDto" Model="@_selectedClient" OnItemChanged="@OnClientDataAdded">
        <FormContent>
            <div class="form-group">
                <label>@nameof(_selectedClient.Name):</label>
                <InputText class="form-control" @bind-Value="@_selectedClient.Name" />
            </div>
            <div class="form-group">
                <label>@nameof(_selectedClient.VatNumber):</label>
                <InputText class="form-control" @bind-Value="@_selectedClient.VatNumber" />
            </div>
        </FormContent>
    </FormView>
}

@if (_isDeleteClientClicked)
{
    <AlertComponent Title="Sure to delete this item?"
    BodyMessage="The action is irreversible!"
    IsDeleteConfirmed="@OnClientDeleteConfirmation" />
}

@if (_isDeleteMultipleClientsClicked)
{
    <AlertComponent Title="Sure to delete this item?"
    BodyMessage="The action is irreversible!"
    IsDeleteConfirmed="@OnMultipleClientsDeleteConfirmation" />
}

@if (_isOperationDone)
{
    <Toast />
}

@code {
    private List<FirmClientDto> _clients;
    private List<string> _selectedColumnsForClient = ["Name", "VatNumber"];

    private FirmClientDto _selectedClient = new();
    private List<FirmClientDto> _selectedClients = [];
    private FirmClientDto _clientDto = new();
    private DataGridView<FirmClientDto> _grid = new();

    private bool _isAddClientClicked = false;
    private bool _isEditClientClicked = false;
    private bool _isDeleteClientClicked = false;
    private bool _isDeleteMultipleClientsClicked = false;
    private bool _isClientSelected = false;
    private bool _isOperationDone = false;

    protected override async Task OnInitializedAsync()
    {
        await LoadData(new PaginationHelper { Limit = 100, Offset = 0 });
    }

    private void OnClientDataAdded(FirmClientDto client) => _clientDto = client;

    private void OnClientDataUpdated(FirmClientDto client) => _selectedClient = client;

    private async Task OnClientDeleteConfirmation(bool isConfirmed) => await DeleteClient(_selectedClient);
    private async Task OnMultipleClientsDeleteConfirmation(bool isConfirmed)
    {
        foreach (var client in _selectedClients)
        {
            Console.WriteLine($"{client.Name}");
            await DeleteClient(client);
        }
        await _grid.Reload();
        _isOperationDone = true;
    }

    private void ToggleAddClient() => _isAddClientClicked = !_isAddClientClicked;


    private void ToggleSelectedClients(List<FirmClientDto> clients)
    {
        _selectedClients = clients;
        _isClientSelected = !_isClientSelected;
    }

    private void ToggleSelectedClientsForDelete(List<FirmClientDto> clients)
    {
        _isDeleteMultipleClientsClicked = !_isDeleteMultipleClientsClicked;
    }

    private void ToggleSelectClient(FirmClientDto client)
    {
        _selectedClient = client;
        _isClientSelected = !_isClientSelected;
    }

    private void ToggleEditClient(FirmClientDto client)
    {
        _selectedClient = client;
        _isEditClientClicked = !_isEditClientClicked;
    }

    private void ToggleDeleteClient(FirmClientDto client)
    {
        _selectedClient = client;
        _isDeleteClientClicked = !_isDeleteClientClicked;
    }

    private async Task ReloadUpdatedData(bool shouldReload)
    {
        if (shouldReload)
        {
            await LoadData(new PaginationHelper { Limit = 100, Offset = 0 });
        }
    }

    private async Task AddClient(FirmClientDto updatedClient) => await http.PostAsJsonAsync("api/client/add", updatedClient);

    private async Task UpdateClient(FirmClientDto updatedClient) => await http.PutAsJsonAsync($"api/client/edit/{updatedClient.Id}", updatedClient);

    private async Task DeleteClient(FirmClientDto client) => await http.DeleteAsync($"api/client/delete/{client.Id}");

    private async Task LoadData(PaginationHelper paginationHelper)
    {
        _clients = await http.GetFromJsonAsync<List<FirmClientDto>>($"/api/client/getWithPagination/{paginationHelper.Limit}/{paginationHelper.Offset}");
    }
}