@page "/contacts"
@inject HttpClient http

<h3>Clients</h3>
<PageTitle>Clients</PageTitle>

<CascadingValue Value="@_dataContainer">
    <DataGridView TItem="@FirmClientDto"
    TTemp="@WorkOrderDto"
    GetCascadingContainerStates="@GetCascadingContainerStates"
    ShouldFetchNewData="@ReloadUpdatedData" />

    <DataGridViewItemHandler TItem="@FirmClientDto"
    TTemp="@WorkOrderDto"
    AddAction="@(async client => await AddClient(client))"
    UpdateAction="@(async client => await UpdateClient(client))"
    DeleteAction="@(async client => await DeleteClient(client))"
    DeleteMultipleAction="@(async clients => await DeleteMultipleClients(clients))">
        <AddFormMarkup>
            <div class="form-group">
                <label>@nameof(_dataContainer.DataManager.NewItem.Name):</label>
                <InputText class="form-control" @bind-Value="@_dataContainer.DataManager.NewItem.Name" />
            </div>
            <div class="form-group">
                <label>@nameof(_dataContainer.DataManager.NewItem.VatNumber):</label>
                <InputText class="form-control" @bind-Value="@_dataContainer.DataManager.NewItem.VatNumber" />
            </div>
        </AddFormMarkup>
        <EditFormMarkup>
            <div class="form-group">
                <label>@nameof(_dataContainer.DataManager.SelectedItem.Name):</label>
                <InputText class="form-control" @bind-Value="@_dataContainer.DataManager.SelectedItem.Name" />
            </div>
            <div class="form-group">
                <label>@nameof(_dataContainer.DataManager.SelectedItem.VatNumber):</label>
                <InputText class="form-control" @bind-Value="@_dataContainer.DataManager.SelectedItem.VatNumber" />
            </div>
        </EditFormMarkup>
        <ViewDetailsMarkup>
            <div style="overflow-y: scroll;">
                <strong>WorkOrders</strong>
                @foreach (var wo in _workOrders)
                {
                    <p style="text-indent: 40px;"><strong>Name: </strong>@wo.Name</p>
                    <br />
                    <strong>Activities</strong>
                    @foreach (var ac in wo.Activities)
                    {
                        <p style="text-indent: 40px;"><strong>Name: </strong>@ac.Name</p>
                    }
                }
            </div>
        </ViewDetailsMarkup>
    </DataGridViewItemHandler>
</CascadingValue>

@code {
    private CascadingDataContainer<FirmClientDto, WorkOrderDto> _dataContainer = new()
    {
        DataManager = new() 
        {
            SelectedProperties = ["Name", "VatNumber"]
        }
    };

    private List<WorkOrderDto> _workOrders = [];

    protected override async Task OnInitializedAsync()
    {
        await LoadData(new PaginationHelper { Limit = 200, Offset = 0 });
    }


    private async Task GetAssociatedWorkOrders(FirmClientDto client)
    {
        _workOrders = await http.GetFromJsonAsync<List<WorkOrderDto>>($"/api/client/findAssociatedWorkOrdersByClientId/{client.Id}");
    }

    private async Task ReloadUpdatedData(bool shouldReload)
    {
        if (shouldReload)
        {
            await LoadData(new PaginationHelper { Limit = 100, Offset = 0 });
        }
    }

    private async Task GetCascadingContainerStates(CascadingDataContainer<FirmClientDto, WorkOrderDto> dataContainer)
    {
        await GetAssociatedWorkOrders(dataContainer.DataManager.SelectedItem);
        _dataContainer = dataContainer;
    }
    private async Task AddClient(FirmClientDto updatedClient) => await http.PostAsJsonAsync("api/client/add", updatedClient);

    private async Task UpdateClient(FirmClientDto updatedClient) => await http.PutAsJsonAsync($"api/client/edit/{updatedClient.Id}", updatedClient);

    private async Task DeleteClient(FirmClientDto client) => await http.DeleteAsync($"api/client/delete/{client.Id}");

    private async Task DeleteMultipleClients(IEnumerable<FirmClientDto> clients)
    {
        foreach (var client in clients)
        {
            await DeleteClient(client);
        }
    }

    private async Task LoadData(PaginationHelper paginationHelper)
    {
        _dataContainer.DataManager.MainItems = await http.GetFromJsonAsync<List<FirmClientDto>>($"/api/client/getWithPagination/{paginationHelper.Limit}/{paginationHelper.Offset}");
    }
}