@page "/contacts"
@inject HttpClient http

<DataGridView TItem="@FirmClientDto"
              DataContainer="@_dataContainer"
              Data="@_clients"
              Properties="@_selectedColumnsForClient"
              GetCascadingContainerStates="@GetCascadingContainerStates"
              ShouldFetchNewData="@ReloadUpdatedData" />

<CascadingValue Value="@_dataContainer">
    <DataGridViewItemHandler TItem="@FirmClientDto"
                             AddAction="@(async client => await AddClient(client))"
                             UpdateAction="@(async client => await UpdateClient(client))"
                             DeleteAction="@(async client => await DeleteClient(client))"
                             DeleteMultipleAction="@(async clients => await DeleteMultipleClients(clients))">
        <AddFormMarkup>
            <div class="form-group">
                <label>@nameof(_dataContainer.NewItem.Name):</label>
                <InputText class="form-control" @bind-Value="@_dataContainer.NewItem.Name" />
            </div>
            <div class="form-group">
                <label>@nameof(_dataContainer.NewItem.VatNumber):</label>
                <InputText class="form-control" @bind-Value="@_dataContainer.NewItem.VatNumber" />
            </div>
        </AddFormMarkup>
        <EditFormMarkup>
            <div class="form-group">
                <label>@nameof(_dataContainer.SelectedItem.Name):</label>
                <InputText class="form-control" @bind-Value="@_dataContainer.SelectedItem.Name" />
            </div>
            <div class="form-group">
                <label>@nameof(_dataContainer.SelectedItem.VatNumber):</label>
                <InputText class="form-control" @bind-Value="@_dataContainer.SelectedItem.VatNumber" />
            </div>
        </EditFormMarkup>
    </DataGridViewItemHandler>
</CascadingValue>

@code {
    private List<FirmClientDto> _clients;
    private List<string> _selectedColumnsForClient = ["Name", "VatNumber"];

    private CascadingDataContainer<FirmClientDto> _dataContainer = new()
    {
        NewItem = new(),
        SelectedItem = new(),
        SelectedItems = []
    };

    protected override async Task OnInitializedAsync()
    {
        await LoadData(new PaginationHelper { Limit = 200, Offset = 0 });
    }

    private async Task ReloadUpdatedData(bool shouldReload)
    {
        if (shouldReload)
        {
            await LoadData(new PaginationHelper { Limit = 100, Offset = 0 });
        }
    }

    private void GetCascadingContainerStates(CascadingDataContainer<FirmClientDto> dataContainer) => _dataContainer = dataContainer;

    private async Task AddClient(FirmClientDto updatedClient) => await http.PostAsJsonAsync("api/client/add", updatedClient);

    private async Task UpdateClient(FirmClientDto updatedClient) => await http.PutAsJsonAsync($"api/client/edit/{updatedClient.Id}", updatedClient);

    private async Task DeleteClient(FirmClientDto client) => await http.DeleteAsync($"api/client/delete/{client.Id}");

    private async Task DeleteMultipleClients(IEnumerable<FirmClientDto> clients)
    {
        foreach (var client in clients)
        {
            await DeleteClient(client);
        }
    }

    private async Task LoadData(PaginationHelper paginationHelper)
    {
        _clients = await http.GetFromJsonAsync<List<FirmClientDto>>($"/api/client/getWithPagination/{paginationHelper.Limit}/{paginationHelper.Offset}");
    }
}