@page "/workOrders"
@inject HttpClient http

<CascadingValue Value="@_dataContainer">
    <DataGridView TItem="@WorkOrderDto"
                  TTemp="@FirmClientDto"
                  GetCascadingContainerStates="@GetCascadingContainerStates"
                  ShouldFetchNewData="@ReloadUpdatedData" />
    <DataGridViewItemHandler TItem="@WorkOrderDto"
                             TTemp="@FirmClientDto"
                             AddAction="@(async workOrder => await AddWorkOrder(workOrder))"
                             UpdateAction="@(async workOrder => await UpdateWorkOrder(workOrder))"
                             DeleteAction="@(async workOrder => await DeleteWorkOrder(workOrder))"
                             DeleteMultipleAction="@(async workOrders => await DeleteMultipleClients(workOrders))">
        <AddFormMarkup>
            <div class="form-group">
                <label>@nameof(_dataContainer.NewItem.Name):</label>
                <InputText class="form-control" @bind-Value="@_dataContainer.NewItem.Name" />
            </div>
            <div class="form-group">
                <label>@nameof(_dataContainer.NewItem.StartDate):</label>
                <InputDate class="form-control" @bind-Value="@_dataContainer.NewItem.StartDate" />
            </div>
            <div class="form-group">
                <label>@nameof(_dataContainer.NewItem.EndDate):</label>
                <InputDate class="form-control" @bind-Value="@_dataContainer.NewItem.EndDate" />
            </div>
            <br />
            <h5>Client Information</h5>
            <div class="form-group">
                @if (_dataContainer.TempItem is null)
                {
                    <div style="margin: 0;">
                        <div style="float: left;">
                            <InputText type="search" class="form-control" @bind-value="@_dataContainer.Query" />
                        </div>
                        <div style="float: left;">
                            <button class="btn btn-outline-primary" @onclick="@SearchClient">
                                <i class="bi bi-search"></i>
                                Search
                            </button>
                        </div>
                    </div>
                    @if (_dataContainer.TempItems is not null)
                    {
                        <div class="list-group">
                            @foreach (var client in _dataContainer.TempItems)
                            {
                                <button type="button" class="list-group-item list-group-item-action @(_dataContainer.TempItem is not null ? "active" : string.Empty)"
                                        @onclick="@(() => SelectClient(client))">
                                    @client.Name
                                </button>
                            }
                        </div>
                    }
                }
                else
                {
                    <div class="card" style="margin: 0;">
                        <div style="float: left;">
                            <p><strong>Name: </strong>@_dataContainer.TempItem.Name</p>
                            <p><strong>VatNumber: </strong>@_dataContainer.TempItem.VatNumber</p>
                        </div>
                        <div style="float: left;">
                            <button class="btn btn-outlien-danger" @onclick="@(() => SelectClient(null))">
                                <i class="bi bi-trash3"></i>
                                Remove
                            </button>
                        </div>
                    </div>
                }
            </div>
        </AddFormMarkup>
        <EditFormMarkup>
            <div class="form-group">
                <label>@nameof(_dataContainer.SelectedItem.Name):</label>
                <InputText class="form-control" @bind-Value="@_dataContainer.SelectedItem.Name" />
            </div>
            <div class="form-group">
                <label>@nameof(_dataContainer.SelectedItem.StartDate):</label>
                <InputDate class="form-control" @bind-Value="@_dataContainer.SelectedItem.StartDate" />
            </div>
            <div class="form-group">
                <label>@nameof(_dataContainer.SelectedItem.EndDate):</label>
                <InputDate class="form-control" @bind-Value="@_dataContainer.SelectedItem.EndDate" />
            </div>
        </EditFormMarkup>
        <ViewDetailsMarkup>
            <!-- To do -->
        </ViewDetailsMarkup>
    </DataGridViewItemHandler>
</CascadingValue>

@code {
    private CascadingDataContainer<WorkOrderDto, FirmClientDto> _dataContainer = new() 
    { 
        SelectedProperties = ["Name", "StartDate", "EndDate"]
    };

    protected override async Task OnInitializedAsync()
    {
        await LoadData(new PaginationHelper { Limit = 100, Offset = 0 });
    }

    private async Task SearchClient()
    {
        if (!string.IsNullOrEmpty(_dataContainer.Query))
        {
            _dataContainer.TempItems = await http.GetFromJsonAsync<List<FirmClientDto>>($"/api/client/searchClientByName/{_dataContainer.Query}");
        }
    }

    private void SelectClient(FirmClientDto client)
    {
        _dataContainer.TempItem = client;
        _dataContainer.NewItem.FirmClientId = client.Id;
    }

    private async Task ReloadUpdatedData(bool shouldReload)
    {
        if (shouldReload)
        {
            await LoadData(new PaginationHelper { Limit = 100, Offset = 0 });
        }
    }

    private void GetCascadingContainerStates(CascadingDataContainer<WorkOrderDto, FirmClientDto> dataContainer) => _dataContainer = dataContainer;

    private async Task AddWorkOrder(WorkOrderDto updatedClient) => await http.PostAsJsonAsync("api/workOrder/add", updatedClient);

    private async Task UpdateWorkOrder(WorkOrderDto updatedClient) => await http.PutAsJsonAsync($"api/workOrder/edit/{updatedClient.Id}", updatedClient);

    private async Task DeleteWorkOrder(WorkOrderDto workOrder) => await http.DeleteAsync($"api/workOrder/delete/{workOrder.Id}");

    private async Task DeleteMultipleClients(IEnumerable<WorkOrderDto> workOrders)
    {
        foreach (var workOrder in workOrders)
        {
            await DeleteWorkOrder(workOrder);
        }
    }

    private async Task LoadData(PaginationHelper paginationHelper)
    {
        _dataContainer.MainItems = await http.GetFromJsonAsync<List<WorkOrderDto>>($"/api/workOrder/getWithPagination/{paginationHelper.Limit}/{paginationHelper.Offset}");
    }
}
