@page "/workOrders"
@inject DialogService ds
@inject FetchService<WorkOrderDto> fs

<h3>Workorders</h3>
<PageTitle>Workorders</PageTitle>

<RadzenDataGrid Data="@_workOrders"
                TItem="@WorkOrderDto"
                AllowSorting="true"
                AllowPaging="true"
                AllowFiltering="true"
                SelectionMode="DataGridSelectionMode.Single"
                RowSelect="OnSelect">
    <Columns>
        <RadzenDataGridColumn TItem="@WorkOrderDto" Property="Name" Title="Name" />
        <RadzenDataGridColumn TItem="@WorkOrderDto" Property="StartDate" Title="Start Date" />
        <RadzenDataGridColumn TItem="@WorkOrderDto" Property="EndDate" Title="End Date" />
    </Columns>
</RadzenDataGrid>

@code {
    private WorkOrderDto _selectedWorkOrder = null;
    private List<WorkOrderDto> _workOrders = new();
    private PaginationHelper _pg = new() { Limit = 100, Offset = 0 };

    protected override async Task OnInitializedAsync()
    {
        _workOrders = await fs.GetAll(
            ControllersNames.WORK_ORDER,
            CrudApiManager.GET_WITH_PAGINATION,
            _pg.Limit,
            _pg.Offset
        );
    }

    private async Task OnSelect(WorkOrderDto workOrder)
    {
        _selectedWorkOrder = workOrder;

        await ds.OpenAsync<WorkOrderDialog>("WorkOrder Info",
               new Dictionary<string, object>() { { nameof(WorkOrderDialog.SelectedWorkOrder), _selectedWorkOrder } });
    }
}