@page "/operation-manager"

<PageTitle>CRM - Operation Manager</PageTitle>

<div class="parent">
    <div class="child">
        <button class="btn btn-primary" @onclick="OnClickAddWorkOrder">
            <span class="oi oi-plus"></span>
            Aggiungi commessa
        </button>
    </div>
    
    @if (_WorkOrders.Count != 0) {
        <div class="child">
            <button class="btn btn-primary" @onclick="OnClickAddActivity">
                <span class="oi oi-plus"></span>
                Aggiungi attività
            </button>
        </div>
    }
</div>

<table class="table">
    <thead>
        <tr>
            @if (_TrIsClicked) {
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Data d'inizio</th>
                <th scope="col">Data fine</th>
                <th scope="col">Attività</th>
            } else {
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Data d'inizio</th>
                <th scope="col">Data fine</th>
                <th scope="col"></th>
                <th scope="col"></th>
                
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var wo in _WorkOrders) {
            <tr data-widget="expandable-table" @onclick="(() => OnClickTableRow(wo.Id))">
                @if (_TrIsClicked) {
                    <td>
                        <span class="oi oi-briefcase"></span> 
                    </td>
                    <td>
                        <span class="oi oi-arrow-circle-top"></span> 
                        @wo.Name
                    </td>
                    <td>@wo.StartDate.ToShortDateString()</td>
                    <td>@wo.FinishDate.ToShortDateString()</td>
                    <tr> <OperationManagerMasterDetails Id="wo.Id"/> </tr>
                } else {
                    <td>
                        <span class="oi oi-briefcase"></span> 
                    </td>
                    <td>
                        <span class="oi oi-arrow-circle-bottom"></span> 
                        @wo.Name
                    </td>
                    <td>@wo.StartDate.ToShortDateString()</td>
                    <td>@wo.FinishDate.ToShortDateString()</td>
                    <td>
                        <button type="button" class="btn btn-primary" 
                            @onclick="@(() => OnClickEdit(wo.Id))">
                                <span class="oi oi-pencil"></span>
                        </button>                
                    </td> 
                    <td> 
                        <button type="button" class="btn btn-danger" 
                            @onclick="@(() => OnClickDelete(wo.Id))">
                                <span class="oi oi-trash"></span>
                        </button>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
