@page "/operation-manager"
@layout MainLayout
 
<PageTitle>CRM - Operation Manager</PageTitle>

<div class="parent">
    <div class="child">
        <button class="btn btn-primary" title="Aggiungi commessa" @onclick="OnClickAddWorkOrder">
            <i class="bi bi-plus-circle-fill"></i>
            Aggiungi commessa
        </button>
    </div>
    
    @if (_WorkOrders.Any()) {
        <div class="child">
            <button class="btn btn-primary" title="Aggiungi attività" @onclick="OnClickAddActivity">
                <i class="bi bi-plus-circle-fill"></i>
                Aggiungi attività
            </button>
        </div>
    }
</div>

<table class="table table-lg">
    <thead>
        <tr>
            <th scope="col">Stato</th>
            <th scope="col">Nome</th>
            <th scope="col">Data d'inizio</th>
            <th scope="col">Data fine</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var wo in _WorkOrders) {
                <tr>
                    <td>
                        @if (wo.IsCompleted) {  
                            <strong style="color: blue;">[Completato]</strong>
                        } else if (wo.IsDeleted) {
                            <strong style="color: darkred;">[Eliminato]</strong>
                        } else {
                            <strong style="color: green;">[Attivo]</strong>
                        }
                    </td>
                    <td>
                        @if (_TrIsClicked && (wo.Id == _CurrentWorkOrder.Id)) {
                            <i class="bi bi-arrow-up-square-fill" style="cursor: pointer; padding-right: 5px;" 
                                @onclick="(() => OnClickTableRow(wo.Id))" title="Comprimi">
                            </i>
                        } else {
                            <i class="bi bi-arrow-down-square-fill" style="cursor: pointer; padding-right: 5px;" 
                                @onclick="(() => OnClickTableRow(wo.Id))" title="Espandi"></i>
                        }
                        @wo.Name
                    </td>
                    <td>@wo.StartDate.ToShortDateString()</td>
                    <td>@wo.FinishDate.ToShortDateString()</td>
                    @if (!wo.IsDeleted) {
                        <td>
                                <td style="padding-right: 10px;">
                                    <button type="button" class="btn btn-primary" title="Modifica commessa"
                                        @onclick="@(() => OnClickEdit(wo.Id))">
                                            <i class="bi bi-pencil-square"></i>
                                    </button>                
                                </td> 
                                <td> 
                                    <button type="button" class="btn btn-danger" title="Elimina commessa" 
                                        @onclick="@(() => OnClickDelete(wo.Id))">
                                            <i class="bi bi-trash3"></i>
                                    </button>
                                </td>
                        </td>
                    }
                <td></td>
                </tr>
                @if (_TrIsClicked && (wo.Id == _CurrentWorkOrder.Id)) {
                    <tr style="border: 1px solid blue;" title="Visualizza attività su questa commessa">
                        <td></td>
                        <td style="width: 100%; height: 80%;"> <OperationManagerMasterDetails WorkOrderId="@_CurrentWorkOrder.Id"/> </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            }
    </tbody>
</table>

@if (_IsCreateWorkOrderClicked) { 
    <OperationManagerAddWorkOrder></OperationManagerAddWorkOrder>
}

@if (_IsEditWorkOrderClicked) {
    <OperationManagerEditWorkOrder Id="@_WorkOrderId"></OperationManagerEditWorkOrder>
}

@if (_IsDeleteWorkOrderClicked) {
    <OperationManagerDeleteWorkOrder Id="@_WorkOrderId"></OperationManagerDeleteWorkOrder>
}

@if (_IsCreateActivityClicked) { 
    <OperationManagerAddActivity></OperationManagerAddActivity>
}

<div class="container" 
    style="text-align: center; padding: 10px; position: relative;
        padding-top: 0%;">   
    <i id="previous" class="bi bi-arrow-left-square-fill" title="Indietro"
        style="padding:10px; cursor: pointer;"
        @onclick="@(() => Previous(_PageNumber))"></i>
    <span style="padding: 10px;">@_PageNumber</span>
    <i id="next" class="bi bi-arrow-right-square-fill" title="Avanti"
        style="padding:10px; cursor: pointer;"
        @onclick="@(() => Next(_PageNumber))"></i>
</div>
