<Modal Size="@ModalSize.SMALL"
       Title="@Title" 
       CanCloseModal="@_canCloseModal" 
       SecondAction="@(async () => await OnDelete())" SecondActionText="Delete"
       OnModalClose="@(() => OnAlertClose.InvokeAsync())">
       <Body>
           @BodyMessage
       </Body>
</Modal>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string BodyMessage { get; set; }
    [Parameter] public EventCallback<bool> IsDeleteConfirmed { get; set; }
    [Parameter] public EventCallback OnAlertClose { get; set; }

    private bool _canCloseModal = false;

    private async Task OnDelete()
    {
        _canCloseModal = !_canCloseModal;   
        await IsDeleteConfirmed.InvokeAsync(true);
    }
}
