@page "/account-manager/edit/user/{Id:int}"

@using PlannerCRM.Shared.Models

<PageTitle>CRM - Modifica utente</PageTitle>

@if (_IsError) { 
    <Feedback Severity="@BannerType.DANGER" Message="@_Message"></Feedback>
}
<div class="container-fluid">
    <h1>Modifica utente</h1>
    <EditForm EditContext="@_EditContext" OnValidSubmit="OnClickConfirm" class="form">
        <DataAnnotationsValidator/>
        <div class="form-group">
            <span class="oi oi-person"></span>
            <label for="Nome">Nome</label>
            <input type="text" class="form-control" @bind="_Model.FirstName"/>
            <ValidationMessage For="@(() => _Model.FirstName)"/>
        </div>
        <div class="form-group">
            <span class="oi oi-person"></span>
            <label for="Cognome">Cognome</label>
            <input type="text" class="form-control" @bind="_Model.LastName"/>
            <ValidationMessage For="@(() => _Model.LastName)"/>
        </div>
        <div class="form-group">
            <span class="oi oi-envelope-closed"></span>
            <label for="Email">Email</label>
            <input type="email" class="form-control" @bind="_Model.Email"/>
            <ValidationMessage For="@(() => _Model.Email)" />
        </div>
        <div class="form-group">
            <span class="oi oi-calendar"></span>
            <label for="Data di nascita">Data di nascita</label>
            <input type="date" class="form-control" @bind="@_Model.BirthDay"/>
            <ValidationMessage For="@(() => _Model.BirthDay)" />
        </div>
        <div class="form-group">
            <span class="oi oi-calendar"></span>
            <label for="Data d'inizio">Data d'inizio</label>
            <input type="date" class="form-control" @bind="@_Model.StartDate"/>
            <ValidationMessage For="@(() => _Model.StartDate)" />
        </div>
        <div class="form-group">
            <span class="oi oi-briefcase"></span>
            <label for="Codice fiscale">Codice fiscale</label>
            <input type="text" class="form-control" @bind="_Model.NumericCode"/>
            <ValidationMessage For="@(() => _Model.NumericCode)" />
        </div>
        <div class="form-group">
            <span class="oi oi-star"></span>
            <label for="Ruolo">Ruolo</label>
                <div class="form-control">
                    <select class="dropdown-item" @bind="_Model.Role">
                        @foreach (var role in Enum.GetValues(typeof(Roles))) {
                            if ((Roles)role != Roles.ACCOUNT_MANAGER) {
                                <option value="@role">@role</option>
                            }
                        }
                    </select>
                    <ValidationMessage For="@(() => _Model.Role)" />
                </div>
        </div>
        <div class="form-group">
            <span class="oi oi-euro"></span>
            <label for="Tariffa oraria">Tariffa oraria</label>
            <input type="number" step="0.01" class="form-control" @bind="_Model.HourlyRate"/>
            <ValidationMessage For="@(() => _Model.HourlyRate)" />
            <div>
                <label>Da: 
                    <input type="date" class="form-control" @bind="_Model.StartDateHourlyRate">
                </label>
                <ValidationMessage For="(() => _Model.StartDateHourlyRate)"/>
                <label>A: 
                    <input type="date" class="form-control" @bind="_Model.FinishDateHourlyRate">
                </label>
                <ValidationMessage For="(() => _Model.FinishDateHourlyRate)"/>
            </div>
        </div>
        <div class="form-group">
            <div style="margin: 0 auto; margin: 10px 5px;">
                <span class="oi oi-key"></span>
                <label for="Password">Password</label>
                <input type="@_TypeField" class="form-control" @bind="_Model.Password"/>
                <input type="checkbox" style="float:left; margin-top:5px;" @onclick="SwitchShowPassword"/>
                <span style="margin: 10px 5px;">Vedi password</span>
            </div>
            <ValidationMessage For="@(() => _Model.Password)" />
        </div>
        <div class="wrapper-btn">
            <div class="btn-cancel">
                <button type="button" class="btn btn-link" @onclick="OnClickCancel">Annulla</button>
            </div>
            <div class="btn-confirm">
                <button type="submit" class="btn btn-primary">Conferma</button>
            </div>
        </div>
    </EditForm>
</div>

<NavigationLock ConfirmExternalNavigation="NavLockService.ConfirmedExternalExit"
    OnBeforeInternalNavigation="NavLockService.ConfirmInternalExit"/>
