@page "/account-manager"
@using PlannerCRM.Shared.DTOs
@using Newtonsoft.Json

@inject HttpClient httpClient
@inject NavigationManager navManager

<PageTitle>Account Manager</PageTitle>

<button class="btn btn-primary" @onclick="OnClickAddUser">
    <span class="oi oi-plus"></span>
    Aggiungi utente
</button>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Codice Numerico</th>
            <th scope="col">Nome</th>
            <th scope="col">Data di nascita</th>
            <th scope="col">Ruolo</th>
            <th scope="col">Tariffa oraria</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in _users)
        {
            <tr>
                <td>@user.NumericCode</td>
                <td>@user.FullName</td>
                <td>@user.Birthday</td>
                <td>@user.Role</td>
                <td>@user.HourlyPay</td>
                <td>
                    <button type="button" class="btn btn-primary" @onclick="@(() => OnClickEdit(user.Id))">Edit</button>                
                </td> 
                <td> 
                    <button type="button" class="btn btn-danger" @onclick="@(() => OnClickDelete(user.Id))">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private IEnumerable<EmployeeViewDTO> _users = new List<EmployeeViewDTO>();

    protected override async Task OnInitializedAsync() {
        var responseMessage = await httpClient.GetAsync("http://localhost:5032/employee/get/all");
        var responseJsonList = await responseMessage.Content.ReadAsStringAsync();
        
        _users = JsonConvert.DeserializeObject<List<EmployeeViewDTO>>(responseJsonList);
    }

    public void OnClickAddUser() {
        navManager.NavigateTo("/account-manager/add/user");
    }

    public void OnClickEdit(int id) {
        navManager.NavigateTo($"/account-manager/edit/user/{id}");
    }

    public void OnClickDelete(int id) {
        navManager.NavigateTo($"/account-manager/delete/user/{id}");
    }

}
