@page "/profile-settings/{id:int}"
@layout MainLayout 

@if (_operationDone) {
    <Feedback Severity="@CssSeverity.SUCCESS" Message="Modifica eseguita." OnClickCancel="@SetBanner"/> <!-- use success message-->
}

<div class="container">
    <div class="back spacing-items">
        <i class="bi bi-arrow-left" @onclick=@NavigationUtil.HandleAuthenticationAndNavigationAsync>Indietro</i>
    </div>
    <EditForm EditContext="@_editContext" OnValidSubmit=@EditUserAsync>
        <CascadingValue Value="@_errors">
            <CustomDataAnnotationsValidator @ref="@CustomValidator"/>
            <h4>Informazioni sull'account</h4>
            <div class="form-group">
                <label>Nome@(SetColonToLabel())</label>
                <input type="text" class=@AddEditCssClass() disabled="@(!_isModifyModeEnabled)" @bind=@_model.FirstName/>
                <CustomValidationMessage FieldName="@nameof(_model.FirstName)"/>
            </div>
            <div class="form-group">
                <label>Cognome@(SetColonToLabel())</label>
                <input type="text" class=@AddEditCssClass() disabled="@(!_isModifyModeEnabled)" @bind=@_model.LastName/>
                <CustomValidationMessage FieldName="@nameof(_model.LastName)"/>
            </div>
            <div class="form-group">
                <label>Email@(SetColonToLabel())</label>
                <input type="email" class=@AddEditCssClass() disabled="@(!_isModifyModeEnabled)" @bind=@_model.Email/>
                <CustomValidationMessage FieldName="@nameof(_model.Email)"/>
            </div>
            <div class="form-group">
                <label>Codice fiscale@(SetColonToLabel())</label>
                <input type="text" class=@AddEditCssClass() disabled="@(!_isModifyModeEnabled)" @bind=@_model.NumericCode/>
                <CustomValidationMessage FieldName="@nameof(_model.NumericCode)"/>
            </div>
            <div class="form-group">
                <label>Password@(SetColonToLabel())</label>
                <input type="text" class=@AddEditCssClass() disabled="@(!_isModifyModeEnabled)" @bind=@_model.Password/>
                <CustomValidationMessage FieldName="@nameof(_model.Password)"/>
            </div>
            <div class="form-group">
                <label>Data di nascita@(SetColonToLabel())</label>
                <input type="date" class=@AddEditCssClass() disabled="@(!_isModifyModeEnabled)" @bind=@_model.BirthDay/>
                <CustomValidationMessage FieldName="@nameof(_model.BirthDay)"/>
            </div>
        </CascadingValue>
    </EditForm>
    <button type="button" class="btn btn-link spacing-items"@onclick=@Modify>@_editButtonText</button>
    <button type="button" class="btn btn-primary spacing-items"@onclick=@EditUserAsync>Aggiorna</button>
</div>

