@page "/operation-manager"
@using PlannerCRM.Shared.DTOs.Workorder.Views
@using PlannerCRM.Shared.Models

@inject HttpClient httpClient
@inject NavigationManager navManager

@attribute [Authorize(Roles = nameof(Roles.OPERATION_MANAGER))]

<PageTitle>Operation Manager</PageTitle>

<div class="parent">
    <div class="child">
        <button class="btn btn-primary" @onclick="OnClickAddWorkorder">
            <span class="oi oi-plus"></span>
            Aggiungi commessa
        </button>
    </div>
    
    @if (_workorders.Count != 0) {
        <div class="child">
            <button class="btn btn-primary" @onclick="OnClickAddActivity">
                <span class="oi oi-plus"></span>
                Aggiungi attività
            </button>
        </div>
    }
</div>

<table class="table">
    <thead>
        <tr>
            @if (trIsClicked) {
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Data d'inizio</th>
                <th scope="col">Data fine</th>
                <th scope="col">Attività</th>
            } else {
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Data d'inizio</th>
                <th scope="col">Data fine</th>
                <th scope="col"></th>
                <th scope="col"></th>
                
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var wo in _workorders) {
            <tr data-widget="expandable-table" @onclick="(() => OnClickTableRow(wo.Id))">
                @if (trIsClicked) {
                    <td>
                        <span class="oi oi-briefcase"></span> 
                    </td>
                    <td>
                        <span class="oi oi-arrow-circle-top"></span> 
                        @wo.Name
                    </td>
                    <td>@wo.StartDate.ToShortDateString()</td>
                    <td>@wo.FinishDate.ToShortDateString()</td>
                    <tr> <OperationManagerMasterDetails Id="wo.Id"/> </tr>
                } else {
                    <td>
                        <span class="oi oi-briefcase"></span> 
                    </td>
                    <td>
                        <span class="oi oi-arrow-circle-bottom"></span> 
                        @wo.Name
                    </td>
                    <td>@wo.StartDate.ToShortDateString()</td>
                    <td>@wo.FinishDate.ToShortDateString()</td>
                    <td>
                        <button type="button" class="btn btn-primary" 
                            @onclick="@(() => OnClickEdit(wo.Id))">
                                <span class="oi oi-pencil"></span>
                        </button>                
                    </td> 
                    <td> 
                        <button type="button" class="btn btn-danger" 
                            @onclick="@(() => OnClickDelete(wo.Id))">
                                <span class="oi oi-trash"></span>
                        </button>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@code {
    private List<WorkorderViewDTO> _workorders = new();
    private int _activitiesListSize = 0;
    private bool trIsClicked = false;

    protected override async Task OnInitializedAsync() {
        _workorders = await httpClient.GetFromJsonAsync<List<WorkorderViewDTO>>("http://localhost:5032/workorder/get/all");
    }
    
    public void OnClickTableRow(int workorderId) {
        if (trIsClicked) {
            trIsClicked = false;
        } else {
            trIsClicked = true;
        }
    }

    public void OnClickAddWorkorder() {
        navManager.NavigateTo("/operation-manager/add/workorder");
    }

    public void OnClickAddActivity() {
        navManager.NavigateTo("/operation-manager/add/activity");
    }

    public void OnClickEdit(int id) {
        navManager.NavigateTo($"/operation-manager/edit/workorder/{id}");
    }

    public void OnClickDelete(int id) {
        navManager.NavigateTo($"/operation-manager/delete/workorder/{id}");
    }
}
