@page "/operation-manager/edit/workorder/{Id}"

@using PlannerCRM.Shared.DTOs.Workorder.Forms

@inject HttpClient httpClient
@inject NavigationManager navManager

<PageTitle>Operation Manager - Edit Workorder</PageTitle>

<div class="container-fluid">
    <h1>Modifica commessa</h1>
    <EditForm Model="@model" OnValidSubmit="OnClickConfirm">
        <DataAnnotationsValidator/>
        <div class="form-group">
            <label>*Nome:</label>
            <InputText type="text" class="form-control" @bind-Value="model.Name" />
            <ValidationMessage For="@(() => model.Name)"/>
        </div>
        <div class="form-group">
            <label>*Data inzio:</label>
            <input type="date" class="form-control" @bind="@model.StartDate" />
            <ValidationMessage For="@(() => model.StartDate)"/>
        </div>
        <div class="form-group">
            <label>*Data fine:</label>
            <input type="date" class="form-control" @bind="@model.FinishDate" />
            <ValidationMessage For="@(() => model.FinishDate)"/>
        </div>
        <div class="wrapper-btn">
            <div class="btn-cancel">
                <button type="button" class="btn btn-link" @onclick="OnClickCancel">Annulla</button>
            </div>
            <div class="btn-confirm">
                <button type="submit" class="btn btn-primary">Conferma</button>
            </div>
        </div>
    </EditForm>
</div>

@code {
    [Parameter]
    public string Id { get; set; }
    public WorkorderEditFormDTO model = new WorkorderEditFormDTO();

    protected override async Task OnInitializedAsync() {
        model = await httpClient.GetFromJsonAsync<WorkorderEditFormDTO>($"http://localhost:5032/workorder/get/for/edit/{Id}");
    }

    public async Task OnClickConfirm() {
        await httpClient.PutAsJsonAsync<WorkorderEditFormDTO>("http://localhost:5032/workorder/edit", model);
            
        navManager.NavigateTo("/operation-manager");
    }

    public void OnClickCancel() {
        navManager.NavigateTo("/operation-manager");
    }
}

