@using PlannerCRM.Shared.Models

<div class="modal" tabindex="-1" role="dialog"
    style="display: block; background-color: rgba(0, 0, 0, 0.4); backdrop-filter: blur(15px);
        width: 100%; height: 100%;"
    hidden="@_IsCancelClicked">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Aggiungi orario di lavoro</h5>
            <i style="cursor: pointer;" class="bi bi-x-circle" @onclick="@(() => OnClickModalCancel())"></i>
        </div>
        <div style="width: 100%; height:100%;padding: 10px;">
        <EditForm EditContext="@_EditContext" OnValidSubmit="OnClickModalConfirm">
            <DataAnnotationsValidator />
            <div class="form-group">
                <span class="oi oi-briefcase"></span>
                <label for="Nome commessa:">Nome commessa </label> 
                <InputText class="form-control" @bind-Value="_WorkOrder.Name" Disabled="@_IsDisabled"/>
            </div>
            <div class="form-group">
                <span class="oi oi-puzzle-piece"></span>
                <label for="Nome attività">Nome attività </label>
                <InputText class="form-control" @bind-Value="_Model.Name" Disabled="@_IsDisabled"/>
            </div>
            <div class="form-group">
                <span class="oi oi-calendar"></span>
                <label for="Data d'inizio">Data d'inizio </label>
                <InputDate class="form-control" @bind-Value="@_Model.StartDate" Disabled="@_IsDisabled"/>
            </div>
            <div class="form-group">
                <span class="oi oi-calendar"></span>
                <label for="Data di fine">Data fine </label>
                <InputDate class="form-control" @bind-Value="@_Model.FinishDate" Disabled="@_IsDisabled"/>
            </div>
            <div class="form-group">
                <span class="oi oi-clock"></span>
                <label for="Orario di lavoro">Inserisci il tuo orario di lavoro</label>
                <InputNumber class="form-control" @bind-Value="@_WorkedHours" required/>
            </div>
            <div class="modal-footer" style="justify-content: space-between; padding: 10px 0; width: 100%;">
                <div style="float: left;">
                    <button type="button" id="btn-link" class="btn btn-link" style="text-decoration: none;"
                        @onclick="@(() => OnClickModalCancel())">Annulla</button>
                </div>
                <div style="float: right;">
                    <button type="submit" class="btn btn-primary">Conferma</button>
                </div>
            </div>
            <NavigationLock ConfirmExternalNavigation="@NavLockService.ConfirmedExternalExit" 
                OnBeforeInternalNavigation="@NavLockService.ConfirmInternalExit"/>
        </EditForm>
        </div>
        </div>
    </div>
</div>

 @if (_IsError) {
    <Feedback Severity="@FatalityType.DANGER" Message="@_Message"></Feedback> 
}