<table class="table table-lg">
    <thead>
        <tr>
            @foreach (var order in _orderTitles) {
                @if (order.Key == _orderKey) {
                    <th scope="col" @onclick="@(() => HandleOrdering(order.Key))"
                        style="color: blue;">
                        <i class="bi bi-arrow-down"></i>
                        @order.Key</th>

                } else {
                    <th scope="col" @onclick="@(() => HandleOrdering(order.Key))">@order.Key</th>
                }
            }
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var wo in WorkOrders) {
            <tr>
                <td>
                    @if (wo.IsCompleted) {  
                        <strong style="color: blue;">Completato</strong>
                    } else if (wo.IsDeleted) {
                        <strong style="color: darkred;">Eliminato</strong>
                    } else {
                        <strong style="color: green;">Attivo</strong>
                    }
                </td>
                <td> @wo.Client.Name </td>

                <td>@wo.Name</td>
                <td>@wo.StartDate.ToString("dd/MM/yyyy")</td>
                <td>@wo.FinishDate.ToString("dd/MM/yyyy")</td>
                @if (IsWorkOrderEligible(wo)) 
                {
                    <td>
                        <td style="padding-right: 10px;">
                            <i class="bi bi-pencil-square info" @onclick="@(() => OnClickEditWorkOrder(wo.Id))"></i>
                        </td> 
                        <td> 
                            <i class="bi bi-trash3 danger" @onclick="@(() => OnClickDeleteWorkOrder(wo.Id))"></i>
                        </td>
                </td>
                }
                else
                {
                    <td></td>
                }
            <td><span id="info-btn" @onclick="(() => OnClickTableRow(wo))">Dettagli</span></td>
            <td></td>
            </tr>
        }      
    </tbody>
</table>

@if (!WorkOrders.Any()) {
    <p class="text-center">@Titles.NOT_AVAILABLE_WORKORDERS</p>
}

@if (_trIsClicked)
{
    <OperationManagerMasterDetails
        WorkOrder="@_currentWorkOrder"
        HasBlockedActions="@IsWorkOrderEligible(_currentWorkOrder)" />
}

@if (_isEditWorkOrderClicked) { 
    <ModalEditWorkOrder 
        Id="@_workOrderId" 
        Title=@Titles.EDIT_WORKORDER/>
}

@if (_isDeleteWorkOrderClicked) {
    <ModalDeleteWorkOrder 
        Title=@Titles.DELETE_WORKORDER
        Id="@_workOrderId"/>
}