<Modal Size="@ModalSize.DEFAULT" Title="@Title">
    <Body>
        @if (_isError) {
            <Feedback Severity="@CssSeverity.DANGER" Message="@_errorMessage" OnClickCancel=@OnClickHideBanner/>
        }
        <EditForm EditContext="@_editContext" OnValidSubmit="@OnClickModalConfirm">
            <CascadingValue Value="@_errors">
                <CustomDataAnnotationsValidator @ref="CustomValidator"/>
                    <div class="form-group">
                        <i class="bi bi-person-circle"></i>
                        <label for="Nome">Nome</label>
                        <InputText class="form-control" @bind-Value="Model.Name"/>
                        <CustomValidationMessage FieldName="@nameof(Model.Name)"/>
                    </div>
                    <div class="form-group">
                        <i class="bi bi-person-circle"></i>
                        <label for="Cognome">Partita IVA</label>
                        <InputText class="form-control" @bind-Value="Model.VatNumber"/>
                        <CustomValidationMessage FieldName="@nameof(Model.VatNumber)"/>
                    </div>
                    
            </CascadingValue>
            <NavigationLock ConfirmExternalNavigation="@NavigationLockService.ConfirmedExternalExit" 
                OnBeforeInternalNavigation="@NavigationUtil.ConfirmInternalExit"/>
        </EditForm>
    </Body>
    <Footer>
        <div id="btn-confirm">
            <button type="submit" class="btn btn-primary" @onclick=@OnClickModalConfirm>Conferma</button>
        </div>
    </Footer>
</Modal>