@page "/account-manager"
@layout MainLayout
 
@using PlannerCRM.Shared.Models 

<PageTitle>CRM - Account Manager</PageTitle>

<div class="parent">
    <button type="button" class="btn btn-primary" title="Aggiungi utente" @onclick="OnClickAddUser">
        <i class="bi bi-person-add"></i>
        Aggiungi utente
    </button>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Stato</th>
            <th scope="col">Email</th>
            <th scope="col">Nome</th>
            <th scope="col">Data di nascita</th>
            <th scope="col">Data d'inizio</th>
            <th scope="col">Ruolo</th>
            <th scope="col">Tariffa oraria</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in _users) {
            <tr>
                <td>
                    @if (user.IsDeleted) {
                        <strong style="color: darkred;">[Eliminato]</strong>
                    } else if (user.IsArchived) {
                        <strong style="color: yellow;">[Archiviato]</strong>
                    } else {
                        <strong style="color: green;">[Attivo]</strong>
                    }
                </td>
                <td>
                    <span>
                        <i class="bi bi-person-circle"></i>
                        @user.Email
                    </span>
                </td>
                <td>@user.FullName</td>
                <td>@user.BirthDay.ToString("dd/MM/yyyy")</td>
                <td>@user.StartDate.ToString("dd/MM/yyyy")</td>
                <td>@user.Role</td>
                <td>@user.CurrentHourlyRate</td>
                <td>
                    <button type="button" class="btn btn-primary" title="Visualizza dettagli utente" 
                        @onclick="@(() => ShowDetails(user.Id))">
                        <i class="bi bi-eye"></i>
                    </button>
                </td>
                @if (!user.IsDeleted && !user.IsArchived) {
                    <td>
                        <button type="button" class="btn btn-primary" title="Modifica utente" 
                            @onclick="@(() => OnClickEdit(user.Id))">
                           <i class="bi bi-pencil-square"></i>
                        </button>                
                    </td> 
                    <td> 
                        <button type="button" class="btn btn-danger" title="Elimina utente"
                            @onclick="@(() => OnClickDelete(user.Id))">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </td>
                } else if (user.IsArchived) {
                    <td> 
                        <button type="button" class="btn btn-success" title="Ripristina utente"
                            @onclick="@(() => OnClickRestore(user.Id))">
                            <i class="bi bi-arrow-repeat"></i>
                        </button>
                    </td>
                }
                <td></td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

@if (!_users.Any()) {
    <p class="text-center">@Titles.NOT_AVAILABLE_USERS</p>
}

@if (_isViewClicked) {
    <ModalShowUserDetails Title="Vedi dettagli" Id="@_userId"/>
}

@if (_isAddClicked) {
    <ModalAddUser Title="Aggiungi utente"/>
} 

@if (_isEditClicked) {
   <ModalEditUser Title="Modifica utente" Id="@_userId"/> 
}

@if (_isDeleteClicked) {
    <ModalDeleteUser 
        Id=@_userId
        Title=@_title
        ConfirmationMessage=@_message/>
}

@if (_isRestoreClicked) {
    <ModalRestoreUser 
        Id=@_userId
        Title=@_title
        Message=@_message/>
}

@if (_users.Any()) {
    <Paginator
        CollectionSize="@_collectionSize"
        Paginate="@((args) => HandlePaginate(args.Item1, args.Item2))"/>
}