@page "/account-manager"

@using PlannerCRM.Shared.Models 

<PageTitle>CRM - Account Manager</PageTitle>

@if (_IsError) {
    <Feedback Severity="@FatalityType.DANGER" Message="@_Message"></Feedback>
}

<div class="parent">
    <button type="button" class="btn btn-primary" @onclick="OnClickAddUser">
        <span class="oi oi-plus"></span>
        Aggiungi utente
    </button>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Stato</th>
            <th scope="col">Email</th>
            <th scope="col">Nome</th>
            <th scope="col">Data di nascita</th>
            <th scope="col">Data d'inizio</th>
            <th scope="col">Ruolo</th>
            <th scope="col">Tariffa oraria</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in _users) {
            <tr>
                <td>
                    @if (!user.IsDeleted) {
                        <strong style="color: green;">[Attivo]</strong>
                    } else {
                        <strong style="color: darkred;">[Eliminato]</strong>
                    }
                </td>
                <td>
                    <span class="oi oi-person"></span>
                    @user.Email
                </td>
                <td>@user.FullName</td>
                <td>@user.BirthDay.ToShortDateString()</td>
                <td>@user.StartDate.ToShortDateString()</td>
                <td>@user.Role</td>
                <td>@user.CurrentHourlyRate</td>
                @if (!user.IsDeleted) {
                    <td>
                        <button type="button" class="btn btn-primary" title="Visualizza dettagli utente" @onclick="@(() => ShowDetails(user.Id))">
                            <i class="bi bi-eye"></i>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" title="Modifica utente" @onclick="@(() => OnClickEdit(user.Id))">
                            <span class="oi oi-pencil"></span>
                        </button>                
                    </td> 
                    <td> 
                        <button type="button" class="btn btn-danger" title="Elimina utente" @onclick="@(() => OnClickDelete(user.Id))">
                            <span class="oi oi-trash"></span>
                        </button>
                    </td>
                } else {
                    <td>
                        <button type="button" class="btn btn-primary" title="Visualizza dettagli utente" @onclick="@(() => ShowDetails(user.Id))">
                            <i class="bi bi-eye"></i>
                        </button>
                    </td>
                    <td></td>
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>

@if (_IsViewClicked) {
    <AccountManagerShowUserDetails Id="@_UserId"/>
}

@if (_IsAddClicked) {
    <AccountManagerAddUserForm/>
} 

@if (_IsEditClicked) {
   <AccountManagerEditUserForm Id="@_UserId"/> 
}

@if (_IsDeleteClicked) {
    <AccountManagerDeleteUser Id="@_UserId"></AccountManagerDeleteUser>
}

<!-- Paginator -->
<div class="container" 
    style="text-align: center; padding: 10px; position: relative;
        border: 0.5px;
        padding-top: 0%;">   
    <i id="previous" class="bi bi-arrow-left-square-fill"
        style="padding:10px; pointer-events: all;"
        @onclick="@(() => Previous(_PageNumber))"></i>
    <span style="padding: 10px;">@_PageNumber</span>
    <i id="next" class="bi bi-arrow-right-square-fill"
        style="padding:10px;"
        @onclick="@(() => Next(_PageNumber))"></i>
</div>
<!---->