@using PlannerCRM.Shared.Models

<div class="modal" tabindex="-1" role="dialog"
    style="display: block; background-color: rgba(0, 0, 0, 0.4); backdrop-filter: blur(15px);
        width: 100%; height: 100%;"
    hidden="@_IsCancelClicked">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Aggiungi attività</h5>
            <i style="cursor: pointer;" class="bi bi-x-circle" @onclick="@(() => OnClickModalCancel())"></i>
        </div>
        <div style="width: 100%; height:100%;padding: 10px;">
        <EditForm EditContext="@_EditContext" OnValidSubmit="OnClickModalConfirm">
            <DataAnnotationsValidator />
            <div class="form-group">
                <i class="bi bi-briefcase"></i>
                <label for="Nome commessa">Commessa</label>
                    <InputText Type="search" @bind-Value="_SelectModel.SelectedWorkorder" style="width: 100%;" class="form-control"/>
                    <ul hidden="@_HideWorkOrdersList" style="height: fit-content; overflow-y: scroll; scrollbar-width: 0.5rem; border: 1px thin rgb(22, 22, 22);" >
                        @if (!_WorkOrdersHasElements) {
                            <li style="cursor: pointer;" @onclick="@(() => ToggleWorkOrderListView())">Nessuna commessa trovata.</li>
                        } else {
                            @foreach (var wo in _WorkOrders) {
                                <li style="cursor: pointer;" class="dropdown-item" value="@wo" 
                                    @onclick="(() => OnClickSetWorkOrder(wo))">@wo.Name</li>
                            }
                        }
                    </ul> 
                    <div class="right">
                        <button type="button" class="btn btn-link" title="Cerca commessa"
                            @onclick="@(() => OnClickSearchWorkOrder(_SelectModel.SelectedWorkorder))">
                                <i class="bi bi-search"></i>
                                Cerca
                        </button>
                    </div>
                <ValidationMessage For="@(() => _SelectModel.SelectedWorkorder)"/>
                <ValidationMessage For="@(() => _Model.WorkOrderId)"/>

            </div>
            <div class="form-group">
                <i class="bi bi-fonts"></i>
                <label for="Nome attività">Nome</label>
                <InputText class="form-control" @bind-Value="_Model.Name"/>
                <ValidationMessage For="@(() => _Model.Name)" />
            </div>
            <div class="form-group">
                <i class="bi bi-calendar3"></i>
                <label for="Data d'inizio">Data d'inizio</label>
                <InputDate class="form-control" @bind-Value="@_Model.StartDate"/>
                <ValidationMessage For="@(() => _Model.StartDate)" />
            </div>
            <div class="form-group">
                <i class="bi bi-calendar3"></i>
                <label for="Data di fine">Data di fine</label>
                <InputDate class="form-control" @bind-Value="@_Model.FinishDate"/>
                <ValidationMessage For="@(() => _Model.FinishDate)" />
            </div>
            <div class="form-group">
                <i class="bi bi-people"></i>
                <label for="Assegna dipendenti">Assegna a dipendenti</label>
                <InputText Type="search" class="form-control" @bind-Value="_SelectModel.SelectedEmployee"/>
                @if (_Employees.Any()) {
                    <ul hidden="@_HideEmployeesList" style="height: min-content; overflow-y: scroll;">
                        @if (!_EmployeeHasElements) {
                            <li style="cursor: pointer;" @onclick="@(() => ToggleEmployeesListView())">Nessun dipendente trovato.</li>
                        } else {
                            @foreach (var em in _Employees) {
                                <li style="cursor: pointer;" class="dropdown-item" value="@em" title="Aggiungi impiegato"
                                    @onclick="@(() => OnClickAddAsSelected(em))"> 
                                        @em.Email
                                </li>
                            }
                        }
                    </ul>
                }
                <div>
                    <button type="button" class="btn btn-link" title="Cerca impiegato"
                        @onclick="@(() => OnClickSearchEmployee(_SelectModel.SelectedEmployee))">
                        <i class="bi bi-search"></i>
                        Cerca
                    </button>
                </div>
            </div>
            <div class="container" style="float: right">
                <span>Dipendenti selezionati per questa attività: @_Model.EmployeeActivity.Count</span> <br>
                    <div>
                        <table class="table">
                            <thead>
                                <th>Ruolo</th>
                                <th>Nome</th>
                                <th>Email</th>
                                <th></th>
                            <th></th>
                            </thead>
                            <tbody>
                                @if (_Model.EmployeeActivity.Any()) {
                                    @foreach (var ea in _Model.EmployeeActivity) {
                                        <tr>
                                            <td>@(ea.Employee.Role.ToString().Replace('_', ' '))</td>
                                            <td>@ea.Employee.FullName</td>
                                            <td> 
                                                <i class="bi bi-envelope"></i>
                                                <span> @ea.Employee.Email </span>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger" value="@ea.Employee" title="Rimuovi impiegato"
                                                    @onclick="(() => OnClickRemoveAsSelected(ea.Employee))">Elimina</button>
                                            </td>
                                        </tr>
                                    }
                                } else { 
                                    <tr>
                                        <td></td>
                                        <td><strong>Nessun dipendente selezionato.</strong></td>
                                        <td></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <br>
                    </div>
            </div>
            <ValidationMessage For="@(() => _Model.EmployeeActivity)"/>
            <div class="modal-footer" style="justify-content: space-between; padding: 10px 0; width: 100%;">
                <div style="float: left;">
                    <span id="btn-link" style="text-decoration: none; color: blue; cursor: pointer;"
                        @onclick="@(() => OnClickModalCancel())">Annulla</span>
                </div>
                <div style="float: right;">
                    <button type="submit" class="btn btn-primary">Conferma</button>
                </div>
            </div>
            <NavigationLock ConfirmExternalNavigation="@NavLockService.ConfirmedExternalExit" 
                OnBeforeInternalNavigation="@NavLockService.ConfirmInternalExit"/>
        </EditForm>
        </div>
        </div>
    </div>
</div>

 @if (_IsError) {
    <Feedback Severity="@FatalityType.DANGER" Message="@_Message"></Feedback> 
}